<div style="width:100%;float:left;min-height:80px;padding:1em 0em 0em 0em;">
		
	<table style="border-collapse:collapse;width:100%;text-align:left;padding:0em 0em 0em 0em;">
				
		<tr>
			<td style="background-color:#cef5c2;width:250px;text-align:right;padding:0em 0em 0em 1em;margin:0px 0px 20px 0px;">
				<table>
					<tr>
						<td style="width:500px;text-align:left;">
							Step 1: Categorise senders
							&nbsp;|&nbsp;
							<b>Step 2: Review categorised senders</b>
						</td>
						<td style="background-color:#cef5c2;width:250px;text-align:right;padding:0em 0em 0em 1em;margin:0px 0px 0px 0px;">
							<button onClick="document.location.href='<%= company_contact_view_home_url %>'";>Close</button>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		
		<tr>
			<td colspan="9" style="background-color:#cef5c2;border-top:1px solid black;">
		  		&nbsp;
			</td>
		</tr>
		
		<tr>
			<td style="background-color:#cef5c2;text-align:left;padding:0em 0em 1em 0em;">
		  		This screen allows you to edit the contact profiles for your categorised senders.  
				<br/>
				<i>* You can edit the agency or contact's complete profile by clicking the 'edit button' option on each contact</i>
			</td>
		</tr>
		<tr>
			
			<td style="background-color:#cef5c2;width:800px;text-align:left;border:1px solid #cef5c2;padding:0em 0em 0em 1em;margin:0px 0px 0px 0px;">
			
				<!-- ******************* -->
				<!-- HEADER 			 -->
				<!-- ******************* -->
				
				<table style="width:100%;border-collapse:collapse;">
					<tr>
					
						<td style="background-color:#cef5c2;width:30px;text-align:center;font-size:18px;">
							&nbsp;
						</td>
									
								<td class="template_cell_title_content" style="background-color:#cef5c2;width:200px;vertical-align:middle;">
									<b>Email address</b>
								</td>
								<td class="template_cell_closing_date_content" style="background-color:#cef5c2;">
									<b>Contact type</b>
								</td>
								<td class="template_cell_closing_date_content" style="background-color:#cef5c2;">
									<b>Agency</b>
								</td>
								<td class="template_cell_title_content" style="background-color:#cef5c2;width:110px;vertical-align:middle;">
									<b>Contact</b>
								</td>
								<td class="template_cell_company_content" style="background-color:#cef5c2;width:170px;vertical-align:middle;">
									&nbsp;
								</td>
					
					</tr>
		
			<!-- ******************* -->
			<!-- Role 1 			 -->
			<!-- ******************* -->
			
					<tr style="vertical-align:top;">
						
						<td style="background-color:#cef5c2;padding:.1em 0em 0em 0em;width:30px;text-align:center;font-size:18px;float:left;min-height:45px;">
							<b>1</b>
						</td>	
						<td class="template_cell_title_content" style="background-color:#cef5c2;border-top:2px solid #cef5c2;border-bottom:2px solid #cef5c2;background-color:#cef5ff;width:200px;font-size:12px;line-height:24px;vertical-align:top;">
							<b>john.travolta@hudson.com</b>
						</td>
						<td class="template_cell_company_content" style="background-color:#cef5c2;border-top:2px solid #cef5c2;border-bottom:2px solid #cef5c2;background-color:#cef5ff;width:170px;">
							Agent
						</td>
						<td class="template_cell_agency_content" style="background-color:#cef5c2;border-top:2px solid #cef5c2;border-bottom:2px solid #cef5c2;background-color:#cef5ff;width:170px;">
							Hudson
							<br/>
							'Map domain' was selected
						</td>
						<td class="template_cell_title_content" style="background-color:#cef5c2;border-top:2px solid #cef5c2;border-bottom:2px solid #cef5c2;background-color:#cef5ff;width:110px;">
							John Travolta
						</td>
						<td class="template_cell_closing_date_content" style="background-color:#cef5c2;border-top:2px solid #cef5c2;border-bottom:2px solid #cef5c2;background-color:#cef5ff;">
							<u>categorise messages (3)</u>
						</td>
						<td class="template_cell_closing_date_content" style="background-color:#cef5c2;border-top:2px solid #cef5c2;border-bottom:2px solid #cef5c2;background-color:#cef5ff;">
							<u>edit profile</u>
						</td>
						
					</tr>
			
			<!-- ******************* -->
			<!-- Role 2 			 -->
			<!-- ******************* -->
			
					<tr style="vertical-align:top;">
						
						<td style="background-color:#cef5c2;padding:.1em 0em 0em 0em;width:30px;text-align:center;font-size:18px;float:left;min-height:45px;">
							<b>2</b>
						</td>	
						<td class="template_cell_title_content" style="background-color:#cef5c2;border-top:2px solid #cef5c2;border-bottom:2px solid #cef5c2;background-color:#cef5ff;width:200px;font-size:12px;line-height:24px;vertical-align:top;">
							<b>john.hughes@920.co.nz</b>
						</td>
						<td class="template_cell_company_content" style="background-color:#cef5c2;border-top:2px solid #cef5c2;border-bottom:2px solid #cef5c2;background-color:#cef5ff;width:170px;">
							Agent
						</td>
						<td class="template_cell_agency_content" style="background-color:#cef5c2;border-top:2px solid #cef5c2;border-bottom:2px solid #cef5c2;background-color:#cef5ff;width:170px;">
							*920
							<br/>
							'Map domain' was selected
						</td>
						<td class="template_cell_title_content" style="background-color:#cef5c2;border-top:2px solid #cef5c2;border-bottom:2px solid #cef5c2;background-color:#cef5ff;width:110px;">
							*John Hughes
						</td>
						<td class="template_cell_closing_date_content" style="background-color:#cef5c2;border-top:2px solid #cef5c2;border-bottom:2px solid #cef5c2;background-color:#cef5ff;">
							<u>categorise messages (3)</u>
						</td>
						<td class="template_cell_closing_date_content" style="background-color:#cef5c2;border-top:2px solid #cef5c2;border-bottom:2px solid #cef5c2;background-color:#cef5ff;">
							<u>edit profile</u>
						</td>
						
					</tr>
			
			<!-- ******************* -->
			<!-- Role 3				 -->
			<!-- ******************* -->
			
					<tr style="vertical-align:top;">
						
						<td style="background-color:#cef5c2;padding:.1em 0em 0em 0em;width:30px;text-align:center;font-size:18px;float:left;min-height:45px;">
							<b>3</b>
						</td>	
						<td class="template_cell_title_content" style="background-color:#cef5c2;border-top:2px solid #cef5c2;border-bottom:2px solid #cef5c2;background-color:#cef5ff;width:200px;font-size:12px;line-height:24px;vertical-align:top;">
							<b>info@blender.co.il</b>
						</td>
						<td class="template_cell_company_content" style="background-color:#cef5c2;border-top:2px solid #cef5c2;border-bottom:2px solid #cef5c2;background-color:#cef5ff;width:170px;">
							Agency
						</td>
						<td class="template_cell_agency_content" style="background-color:#cef5c2;border-top:2px solid #cef5c2;border-bottom:2px solid #cef5c2;background-color:#cef5ff;width:170px;">
							*Blender
							<br/>
							'Map domain' was selected
						</td>
						<td class="template_cell_title_content" style="background-color:#cef5c2;border-top:2px solid #cef5c2;border-bottom:2px solid #cef5c2;background-color:#cef5ff;width:110px;">
							*Info
						</td>
						<td class="template_cell_closing_date_content" style="background-color:#cef5c2;border-top:2px solid #cef5c2;border-bottom:2px solid #cef5c2;background-color:#cef5ff;">
							<u>categorise messages (3)</u>
						</td>
						<td class="template_cell_closing_date_content" style="background-color:#cef5c2;border-top:2px solid #cef5c2;border-bottom:2px solid #cef5c2;background-color:#cef5ff;">
							<u>edit profile</u>
						</td>
						
					</tr>
					
				</table>

			</td>
		</tr>
		<tr>
			<td style="background-color:#cef5c2;border-bottom:1px solid black;">
		  		&nbsp;
			</td>
		</tr>
		<tr>
			<td style="background-color:#cef5c2;width:250px;text-align:right;padding:0em 0em 0em 1em;margin:0px 0px 0px 0px;">
		  		<table>
					<tr>
						<td style="width:500px;">
							&nbsp;
						</td>
						<td style="background-color:#cef5c2;width:250px;text-align:right;padding:0em 0em 0em 1em;margin:0px 0px 0px 0px;">
							<button onClick="document.location.href='<%= company_contact_view_home_url %>'";>Close</button>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</div>