<div class="header" style="background-color:#E9F3E9;">
	<div class="header_content" style="background-color:#E9F3E9;margin:0;width:100%;">
		
		<div id="btn_logo" class="header_logo_black" style="margin-left:10px;float:left;width:100px;"></div>
		
		<div class="header_menu" style="width:400px;float:right;margin-left:0px;text-align:center;">
			
		</div>
		
	</div>
</div>