<% content_for :head do %>
	5skills.me
<% end %>

<% content_for :title do %>
	Almost there.... ;-)
<% end %>

<div style="padding:15px;width:200px;">
	Hey there!!!
</div>

<div style="padding:15px;width:200px;">
	;asdug a;ld as;djkf ag;sdjkgf a;skjdgflaskdjgflawieg piaweu slnl vbxcvzxcv zxcv zxc
</div>

<%= render :partial => '/five_skills/fs_profile_3_skills' %>

<div class="clear ptop_30"></div>
<hr style="width:500px;"/>
<div class="clear ptop_30"></div>

<button id="btn_find_jobs" style="margin-left:300px;width:200px;height:50px;">
	Find jobs!
</button>
