<div id="search_results_templates">

	<div id="-1" entity_type="job" class="result_box" style="display:none;">
		<div class="result_header">
			<div class="result_header_logo">
				<img src="" alt="" height="30px" />
			</div>
			<div class="result_header_title"><span></span></div>
			<div class="result_header_updated_at"><span></span></div>
		</div>
		
		<div class="result_left">
			<div class="result_left_top"><span></span>%</div>
			<div class="result_left_bottom"><span>Apply</span></div>
		</div>
	
		<div class="result_right">
			<div class="result_right_top">
				<div class="result_right_skill_row">
					<div class="result_right_skill_name"><span></span></div>
					<div class="result_right_skill_yrs ptop_5"></div>
					<div class="result_right_skill_total_sub_skills ptop_5"></div>
					<div class="result_right_skill_total_matched_sub_skills ptop_5"></div>
				</div>
				<div class="result_right_skill_row">
					<div class="result_right_skill_name"><span></span></div>
					<div class="result_right_skill_yrs ptop_5"></div>
					<div class="result_right_skill_total_sub_skills ptop_5"></div>
					<div class="result_right_skill_total_matched_sub_skills ptop_5"></div>
				</div>
				<div class="result_right_skill_row">
					<div class="result_right_skill_name"><span></span></div>
					<div class="result_right_skill_yrs ptop_5"></div>
					<div class="result_right_skill_total_sub_skills ptop_5"></div>
					<div class="result_right_skill_total_matched_sub_skills ptop_5"></div>
				</div>
			</div>
			<div class="result_right_bottom_job_type">
				<span>Full time, Startup @ Tel Aviv (Israel)</span>
			</div>
		</div>
	</div>

</div>