<% content_for :head do %>
  <title>FLYC: My Jobs</title>
<% end %>

<% content_for :title do %>
	<span class="content-title">My Roles</span>
<% end %>

<% content_for :bread_crumbs do %>

	<div style="width:100%;padding:0em 0em .5em 0em;float:right;text-align:left;">
		
	</div>
	
<% end %>

<div style="text-align:left;padding:0px 0px 0px 0px;font-size:14px;font-weight:bold;border-bottom:1px solid gray;">
	<span class="content_link"><i>New Role</i></span>
	|
	<span class="content_link"><i>New Candidate</i></span>			
</div>

<%= render :partial => '/main/messages', :locals => {:action => "general"} %>

<table style="width:100%;border-collapse:collapse;">

	<!-- ******************* -->
	<!-- HEADER 			 -->
	<!-- ******************* -->
	
	<div style="clear:left;text-align:left;">
	
	<table style="width:100%;">
		<tr style="vertical-align:top;">
			
			<td style="margin:0px 0px 0px 1px;">
			
				<div style="width:30px;text-align:center;font-size:18px;float:left;">
					&nbsp;
				</div>
			
				<div style="width:834px;float:left;">
				
					<!-- Job Application Details -->
					<table style="width:100%;text-align:left;">
						<tr style="vertical-align:top;">
							
							<td class="template_cell_title_content" style="width:200px;">
								<b>Title</b>
							</td>
							<td class="template_cell_title_content" style="width:110px;">
								<b>Status</b>
							</td>
							<td class="template_cell_agency_content" style="width:170px;">
								<b>Company</b>
							</td>
							<td class="template_cell_agency_content" style="width:170px;">
								<b>Role's P. Contact</b>
							</td>
							<td class="template_cell_company_content" style="width:170px;">
								<b>No. of applicants
								<br/>S / I / P / R</b>
							</td>
							<td class="template_cell_closing_date_content">
								<b>Last Updated Date</b>
							</td>
						</tr>
					</table>
				</div>
				<div style="padding:1em 0em 0em 0em;">
					&nbsp;
				</div>
			</td>	
			
		</tr>
	</table>
	
	</div>

	<!-- ******************* -->
	<!-- Role 1 			 -->
	<!-- ******************* -->
	
	<div style="clear:left;text-align:left;">
	
	<table style="width:100%;">
		<tr style="vertical-align:top;">
			
			<td style="margin:0px 0px 0px 1px;">
			
				<div style="width:30px;text-align:center;font-size:18px;float:left;min-height:65px;">
					<b>1</b>
				</div>
			
				<div style="width:834px;border:1px solid #00ffff;float:left;min-height:65px;background-color:#cef5c2;">
				
					<!-- Job Application Details -->
					<table style="width:100%;text-align:left;">
						<tr style="vertical-align:top;">
							
							<td class="template_cell_title_content" style="width:200px;font-size:20px;line-height:24px;vertical-align:top;">
								Project Manager
							</td>
							<td class="template_cell_title_content" style="width:110px;">
								Active
							</td>
							<td class="template_cell_agency_content" style="width:170px;">
								<b>
									Shift
								</b>
							</td>
							<td class="template_cell_agency_content" style="width:170px;">
								<b>Claire Johnston</b><br/>
								&nbsp;04 995-3344<br/>
								&nbsp;021 444-5353
							</td>
							<td class="template_cell_company_content" style="width:170px;">
								<table>
									<tr>
										<td style="width:10px;text-align:center;">5</td>
										<td style="width:10px;text-align:center;">/</td>
										<td style="width:10px;text-align:center;">2</td>
										<td style="width:10px;text-align:center;">/</td>
										<td style="width:10px;text-align:center;">2</td>
										<td style="width:10px;text-align:center;">/</td>
										<td style="width:10px;text-align:center;">1</td>
									</tr>
								</table>
							</td>
							<td class="template_cell_closing_date_content">
								24 August, 2004
							</td>
						</tr>
					</table>
				</div>
				<div style="padding:1em 0em 0em 0em;">
					<div style="padding:.1em 0em .1em 0em;width:100px;float:left;text-align:center;">
						Messages (4)
					</div>
					<div style="padding:.1em 0em .1em 0em;width:100px;float:left;text-align:center;">
						Applicants (5)
					</div>
				</div>
			</td>	
			
		</tr>
	</table>
	
	</div>
	
	<!-- ******************* -->
	<!-- Role 2 			 -->
	<!-- ******************* -->
	
	<div style="clear:left;text-align:left;">
	
	<table style="width:100%;">
		<tr style="vertical-align:top;">
			
			<td style="margin:0px 0px 0px 1px;">
			
				<div style="width:30px;text-align:center;font-size:18px;float:left;min-height:65px;">
					<b>2</b>
				</div>
			
				<div style="width:834px;border:1px solid #00ffff;float:left;min-height:65px;background-color:#cef5c2;">
				
					<!-- Job Application Details -->
					<table style="width:100%;text-align:left;">
						<tr style="vertical-align:top;">
							
							<td class="template_cell_title_content" style="width:200px;font-size:20px;line-height:24px;vertical-align:top;">
								PHP Developer
							</td>
							<td class="template_cell_title_content" style="width:110px;">
								Active
							</td>
							<td class="template_cell_agency_content" style="width:170px;">
								<b>
									Kav Manhe
								</b>
							</td>
							<td class="template_cell_agency_content" style="width:170px;">
								<b>Tomer Sagi</b><br/>
								&nbsp;04 995-3344<br/>
								&nbsp;021 444-5353
							</td>
							<td class="template_cell_company_content" style="width:170px;">
								<table>
									<tr>
										<td style="width:10px;text-align:center;">5</td>
										<td style="width:10px;text-align:center;">/</td>
										<td style="width:10px;text-align:center;">2</td>
										<td style="width:10px;text-align:center;">/</td>
										<td style="width:10px;text-align:center;">2</td>
										<td style="width:10px;text-align:center;">/</td>
										<td style="width:10px;text-align:center;">1</td>
									</tr>
								</table>
							</td>
							<td class="template_cell_closing_date_content">
								24 August, 2003
							</td>
						</tr>
					</table>
				</div>
				<div style="padding:1em 0em 0em 0em;">
					<div style="padding:.1em 0em .1em 0em;width:100px;float:left;text-align:center;">
						Messages (4)
					</div>
					<div style="padding:.1em 0em .1em 0em;width:100px;float:left;text-align:center;">
						Applicants (5)
					</div>
				</div>
			</td>	
			
		</tr>
	</table>
	
	</div>
	
	<!-- ******************* -->
	<!-- Role 3				 -->
	<!-- ******************* -->
	
	<div style="clear:left;text-align:left;">
	
	<table style="width:100%;">
		<tr style="vertical-align:top;">
			
			<td style="margin:0px 0px 0px 1px;">
			
				<div style="width:30px;text-align:center;font-size:18px;float:left;min-height:65px;">
					<b>3</b>
				</div>
			
				<div style="width:834px;border:1px solid #00ffff;float:left;min-height:65px;background-color:#cef5c2;">
				
					<!-- Job Application Details -->
					<table style="width:100%;text-align:left;">
						<tr style="vertical-align:top;">
							
							<td class="template_cell_title_content" style="width:200px;font-size:20px;line-height:24px;vertical-align:top;">
								.NET Developer
							</td>
							<td class="template_cell_title_content" style="width:110px;">
								Active
							</td>
							<td class="template_cell_agency_content" style="width:170px;">
								<b>
									Kav Manhe
								</b>
							</td>
							<td class="template_cell_agency_content" style="width:170px;">
								<b>Tomer Pintel</b><br/>
								&nbsp;04 995-3344<br/>
								&nbsp;021 444-5353
							</td>
							<td class="template_cell_company_content" style="width:170px;">
								<table>
									<tr>
										<td style="width:10px;text-align:center;">5</td>
										<td style="width:10px;text-align:center;">/</td>
										<td style="width:10px;text-align:center;">2</td>
										<td style="width:10px;text-align:center;">/</td>
										<td style="width:10px;text-align:center;">2</td>
										<td style="width:10px;text-align:center;">/</td>
										<td style="width:10px;text-align:center;">1</td>
									</tr>
								</table>
							</td>
							<td class="template_cell_closing_date_content">
								24 August, 2003
							</td>
						</tr>
					</table>
				</div>
				<div style="padding:1em 0em 0em 0em;">
					<div style="padding:.1em 0em .1em 0em;width:100px;float:left;text-align:center;">
						Messages (4)
					</div>
					<div style="padding:.1em 0em .1em 0em;width:100px;float:left;text-align:center;">
						Applicants (5)
					</div>
				</div>
			</td>	
			
		</tr>
	</table>
	
	</div>
	
</table>

<!-- APPLICATIONS -->

