<div id="template__left_nav__admin__marketing">
	
	<div style="margin-top:20px;">
		<div id="menu__marketing__dashboard" style="padding:5px 0px 5px 0px;margin-top:5px;font-size:16px;background-color:#90C590;cursor:pointer;">
			Dashboard
		</div>
		<div id="sub_menu__marketing__dashboards" style="display:none;font-size:16px;">
			<div id="menu__marketing__dashboard_1" style="margin-top:5px;font-size:12px;cursor:pointer;background-color:#90C590;color:000;">General Dashboard</div>
			<div id="menu__marketing__dashboard_2" style="margin-top:5px;font-size:12px;cursor:pointer;color:#90C590;">Other Dashboard</div>
		</div>
		<div id="menu__marketing__measurements" style="padding:5px 0px 5px 0px;margin-top:5px;font-size:16px;background-color:#90C590;cursor:pointer;">
			Measurements
		</div>
		<div id="sub_menu__marketing__measurements" style="display:none;font-size:16px;">
			<div id="menu__marketing__measurement_1" style="margin-top:5px;font-size:12px;cursor:pointer;color:#90C590;">Email campaign 1</div>
			<div id="menu__marketing__measurement_2" style="margin-top:5px;font-size:12px;cursor:pointer;color:#90C590;">LinkedIn groups 1</div>
			<div id="menu__marketing__measurement_2" style="margin-top:5px;font-size:12px;cursor:pointer;color:#90C590;">Active job seekers 1</div>
		</div>		
	</div>
	
</div>