<% content_for :head do %>
	<title>FLYC: About Us</title>
<% end %>

<% content_for :title do %>
	<span class="content-title">About Us</span>
<% end %>

<% content_for :bread_crumbs do %>
	
<% end %>

<%= render :partial => '/main/messages', :locals => {:action => "general"} %>

<div style="width:750px;float:left;min-height:80px;padding:.5em 0em 0em 0em;">
	
	<div style="width:100%;background-color:#dfefcf;padding:.5em 1em .5em 1em;">
		<div style="text-align:left;margin:0em 0em 0em .5em;font-size:20px;">
			About me
		</div>
	</div>

  	<div style="background-color:#dfefff;width:100%;text-align:left;border-top:1px solid #dfe1ff;padding:.5em 1em .5em 1em;margin:-1px 0px 20px 0px;">
		
		<p>I'm a 32 years old IT Project Manager who is currently unemployed. I was born in Israel and lived in New Zealand for the past 7 years. A few weeks ago I decided to go back to Israel for an extended holiday.</p>
		
		<p>I worked in the IT industry for approx. 15 years. I started off as a computer technician in 1996 and in 2000 became a software developer. I moved to New Zealand in 2004 and in 2006 started my own software development company based in Wellington. I started managing software projects for internal projects and in 2007 I started providing project management services to a wider group of clients in the Wellington region.</p>
		
		<p>You can learn a bit more about my professional life on LinkedIn: <a href="http://www.linkedin.com/in/tomersagi">http://www.linkedin.com/in/tomersagi</a></p>
		
		<p>--<br/>
		<b>Tomer Sagi</b><br/>
		<b><i>flyc.co.nz</i></b></p>
		
	</div>
	
	<div style="width:100%;background-color:#dfefcf;padding:.5em 1em .5em 1em;">
		<div style="text-align:left;margin:0em 0em 0em .5em;font-size:20px;">
			About Flyc
		</div>
	</div>
	
	<div style="background-color:#dfefff;width:100%;text-align:left;border-top:1px solid #dfe1ff;padding:.5em 1em .5em 1em;margin:-1px 0px 20px 0px;">
		
		<p>As an occasional job seeker I always found the process of searching and securing the right job frustrating.</p>

		<p>The reality is, we are the underdogs, especially since the last global recession, it became more and more difficult to find a job, not to mention the right one.</p>
		
		<p>We all heard it before, for most jobs, there are about 50 odd 'competitors'. This is hard. On top of that, recruitment agencies and hiring organisations, as they are literally flooded with job applications and CVs, don't have the time to get back to all of us.</p>
		
		<p>As the competition for each job is fierce, we end up 'monitoring' and applying for many jobs. The task of tracking our jobs is becoming more and more challenging. We end up writing notes in notepads, categorising emails or use excel spreadsheets. Sometimes when agents ask us "have you applied for a job at this client before?" we are left bewildered as we simply can't remember.</p>
		
		<p>Once we find a job we think we're good for, we get excited like a kid who got his first 'big' toy and click the 'Apply' button! Then many things could happen. We either don't hear anything back at all, we get an 'auto-response' email saying "You are very talented but don't fit the role" or "You have been shortlisted and we'l get back to you within a week" (which sometimes takes 2 or more). The list goes on and on.</p>
		
		<p>If we are lucky enough to speak to a recruitment agent, they normally ask us to send them our CV 'again' to make sure they have our latest one. After a few weeks and a few agents asking to 'tweak' the CV for a particular job, our CV is ever changing and almost 'never' up to date with all the agencies. Other agencies or hiring companies ask us to register with their site. Now this is the most tedious job of them all. At the beginning I tried my hardest to register with all those sites that asked for it for a chance to be shortlisted for this role. Today if I come across a 'Please register' message on a new website, I will think 3 times before I will actually do it. It just makes you want to hurl.</p>
		
		<p>So the problem here is process. We, as the underdogs, have to succumb to all these external processes by recruitment agencies or other organisations. On top of that we have job boards. All these 'entities' normally have a web-site with their interface. Not only do we need to work with their processes, we have to familiar ourselves with all these web interfaces which sometimes are cumbersome and clunky. So the problem is in fact process and interface.</p>
		
		<p><b><u>This is how Flyc was born.</u></b></p>
		
		<p>Over the years I became good friends with a few recruitment agents. They shared with me some of the inner workings of their job and I realized there is a gap that potentially could be bridged.</p>
		
		<p>There are no <b>tools</b> that are focused on the job seeker and help them <b>manage and track their jobs</b>. There is no tool focused on the job seeker that provides a <b>single process</b> and <b>single interface</b> for going through the recruitment process of all jobs, regardless of the agency or organisation that created it. There is no tool that provides a unified and simple communications and collaboration platform between the job seeker, the agency and the hiring organisation.</p>
		
		<p>I hope Flyc will bridge these gaps and provide a solution to these problems.</p>
		
		<p>Flyc is therefore primarilly <b>focused on the job seekers and their needs.</b></p>
		
		<p>Please feel free to register and experience this site. As this site is under development and I believe that users' input and feedback is the key to creating a successful product or service, I have developed a couple of mechanisms for getting in touch with me. You can use the 'Contact Us' option to send me a general note or use the 'Feedback for this page' from any page throughout the site. Feedback is more than welcome!</p>
		
		<p>Good luck with your job search and be strong, it's sometimes unfortunately a long process, but as a very good friend of mine says, "The boat will come to your rescue and sometimes it's not exactly what you expected. But it's still a boat."</p>
		
	</div>
	
</div>