	<!-- Messages Header -->
	
	<table style="width:296px;text-align:left;border-collapse:collapse;">
	
		<% if session[:page] == "inbox" %>
	
			<tr style="vertical-align:top;">
				<td class="template_cell_title_content" style="text-align:center;padding:0em .5em 0em 1em;">
					<div style="width:148px;background-color:#ceecc2;padding:.7em 0em .7em 0em;margin:0em 0em 0em .5em;border-top:1px solid #00ffff;border-left:1px solid #00ffff;border-right:1px solid #00ffff;">
						<b><%= link_to 'Inbox', admin_view_inbox_messages_url %></b>
					</div>
				</td>
				<td class="template_cell_title_content" style="text-align:center;padding:0em .5em 0em .5em;">
					<div style="width:148px;background-color:#ceecc2;padding:.7em 0em .7em 0em;margin:0em 0em 0em 0em;border-top:1px solid #00ffff;border-left:1px solid #00ffff;border-right:1px solid #00ffff;">
						<%= link_to 'Sent Messages', admin_view_sent_messages_url %>
					</div>
				</td>
			</tr>
		
		<% elsif session[:page] == "sent_messages" %>
	
			<tr style="vertical-align:top;">
				<td class="template_cell_title_content" style="text-align:center;padding:0em .5em 0em 1em;">
					<div style="width:148px;background-color:#ceecc2;padding:.7em 0em .7em 0em;margin:0em 0em 0em .5em;border-top:1px solid #00ffff;border-left:1px solid #00ffff;border-right:1px solid #00ffff;">
						<%= link_to 'Inbox', admin_view_inbox_messages_url %>
					</div>
				</td>
				<td class="template_cell_title_content" style="text-align:center;padding:0em .5em 0em .5em;">
					<div style="float:left;width:148px;background-color:#ceecc2;padding:.7em 0em .7em 0em;margin:0em 0em 0em 0em;border-top:1px solid #00ffff;border-left:1px solid #00ffff;border-right:1px solid #00ffff;">
						<b><%= link_to 'Sent Messages', admin_view_sent_messages_url %></b>
					</div>
				</td>
			</tr>
		
		<% end %>
		
	</table>