	<table id='results_table'>
		
		<tr id='results_row_titles'>
			<td style="text-align:left;width:200px;background-color:grey"><b>Keyword</b></td>
			<td style="text-align:left;width:400px;background-color:grey"><b>Skill</b></td>
		</tr>
		
		<tr id='-1'>
			<td colspan="5">Please enter 5 skills to get results!</td>
		</tr>
			
	</table>