<% content_for :head do %>
	5skills.me
<% end %>

<% content_for :title do %>
	<img src="/images/animal_icons/sml/Hippopotamus_32x32.png" alt="" />
	<%= link_to 'Job seeker - 132445', admin_tags_demo_url %>
	( <%= link_to 'Import', admin_tags_demo_import_url %> )
<% end %>


<div class="clear"></div>
	<div class="main_box_edit">
			
		<div class="mid_left">
			
			<ul id="sortable_skills" class="">
				<li class="sortable_skills_li">
					<table>
						<tr>
							<td>
								<table>
									<tr><td><ul id="sortable1" class="connectedSortable" style="border:0px;"></ul></td></tr>
									<tr><td><ul id="sortable2" class="connectedSortable"></ul></td></tr>
								</table>
							</td>
						</tr>
					</table>
				</li>
				<li class="sortable_skills_li">
					<table>
						<tr>
							<td>
								<table>
									<tr><td><ul id="sortable3" class="connectedSortable" style="border:0px;"></ul></td></tr>
									<tr><td><ul id="sortable4" class="connectedSortable"></ul></td></tr>
								</table>
							</td>
						</tr>
					</table>
				</li>
				<li class="sortable_skills_li">
					<table>
						<tr>
							<td>
								<table>
									<tr><td><ul id="sortable5" class="connectedSortable" style="border:0px;"></ul></td></tr>
									<tr><td><ul id="sortable6" class="connectedSortable"></ul></td></tr>
								</table>
							</td>
						</tr>
					</table>
				</li>
				<li class="sortable_skills_li">
					<table>
						<tr>
							<td>
								<table>
									<tr><td><ul id="sortable7" class="connectedSortable" style="border:0px;"></ul></td></tr>
									<tr><td><ul id="sortable8" class="connectedSortable"></ul></td></tr>
								</table>
							</td>
						</tr>
					</table>				
				</li>
				<li class="sortable_skills_li">
					<table>
						<tr>
							<td>
								<table>
									<tr><td><ul id="sortable9" class="connectedSortable" style="border:0px;"></ul></td></tr>
									<tr><td><ul id="sortable10" class="connectedSortable"></ul></td></tr>
								</table>
							</td>
						</tr>
					</table>				
				</li>
			</ul>
			
		</div>	
		<div class="mid_right ptop_5">
				
			<div>
				<div class="title3_first"><span>Job Type</span></div>
				<div class="buttonwrapper_left">
					
				<ul id="job_type" class="default_panel" style="list-style-type:none;width:150px;height:100px;">
				</ul>
				
				</div>
			</div>
			
			<div class="clear ptop_10">
				<div class="title3 "><span>lOCATION</span></div>
				<div class="buttonwrapper_left">
					
				<ul id="location" class="default_panel" style="list-style-type:none;width:150px;height:100px;">
				</ul>
				
				</div>
			</div>
			
			<div class="clear ptop_10">
				<div class="title3  "><span>gENERAL KEYWORDS</span></div>
				<div class="buttonwrapper_left">
					
				<ul id="general_keywords" class="default_panel" style="list-style-type:none;width:150px;height:400px;">
				</ul>
				
				</div>
			</div>
			
		</div>	
	</div>