<% content_for :head do %>
	5skills.me
<% end %>

<% content_for :title do %>
	Job seeker - 132445
	( <%= link_to 'Edit', admin_tags_demo_edit_url %> )
<% end %>


<div class="main_box_top clear"></div>
	<div class="main_box_mid">
		<div class="mid_left">
			<div class="profile">
				<img src="/images/animal_icons/lrg/Hippopotamus_128x128.png" alt="" />
			</div>
			<hr />
			<div class="friends">
				<span>Friends on 5skills:</span>
				<br />
				<img src="/images/animal_icons/sml/Butterfly_32x32.png" alt="" />
				<img src="/images/animal_icons/sml/Elephant_32x32.png" alt="" />
				<img src="/images/animal_icons/sml/Panda_32x32.png" alt="" />
			</div>
			<hr />
			<div class="cv" style="text-align:center;"><input type="submit" value="Request CV" /></div>
			
		</div>
			
			<div class="mid_center">
			
			<ul id="sortable_skills" class="">
				<li class="sortable_skills_li">
					<table>
						<tr>
							<td>
								<table>
									<tr><td><ul id="sortable1" class="connectedSortable" style="border:0px;"></ul></td></tr>
									<tr><td><ul id="sortable2" class="connectedSortable"></ul></td></tr>
								</table>
							</td>
						</tr>
					</table>
				</li>
				<li class="sortable_skills_li">
					<table>
						<tr>
							<td>
								<table>
									<tr><td><ul id="sortable3" class="connectedSortable" style="border:0px;"></ul></td></tr>
									<tr><td><ul id="sortable4" class="connectedSortable"></ul></td></tr>
								</table>
							</td>
						</tr>
					</table>
				</li>
				<li class="sortable_skills_li">
					<table>
						<tr>
							<td>
								<table>
									<tr><td><ul id="sortable5" class="connectedSortable" style="border:0px;"></ul></td></tr>
									<tr><td><ul id="sortable6" class="connectedSortable"></ul></td></tr>
								</table>
							</td>
						</tr>
					</table>
				</li>
				<li class="sortable_skills_li">
					<table>
						<tr>
							<td>
								<table>
									<tr><td><ul id="sortable7" class="connectedSortable" style="border:0px;"></ul></td></tr>
									<tr><td><ul id="sortable8" class="connectedSortable"></ul></td></tr>
								</table>
							</td>
						</tr>
					</table>				
				</li>
				<li class="sortable_skills_li">
					<table>
						<tr>
							<td>
								<table>
									<tr><td><ul id="sortable9" class="connectedSortable" style="border:0px;"></ul></td></tr>
									<tr><td><ul id="sortable10" class="connectedSortable"></ul></td></tr>
								</table>
							</td>
						</tr>
					</table>				
				</li>
			</ul>
			
			</div>	
				<div class="mid_right">
					<div>
						<div class="title3_first "><span>Job Type</span></div>
						<div class="buttonwrapper_left">
							
						<ul id="job_type" class="" style="list-style-type:none;background-color:DarkSeaGreen;border:1px solid green;width:150px;height:100px;padding:0em;">
						</ul>
						
						</div>
						<div class="clear">
						<br />
						<a class="more" href="#"><span>Show all (+2)</span></a>
						</div>
						</div>
						
						<div class="clear ptop_10">
						<div class="title3 "><span>lOCATION</span></div>
						<div class="buttonwrapper_left">
							
						<ul id="location" class="" style="list-style-type:none;background-color:DarkSeaGreen;border:1px solid green;width:150px;height:100px;padding:0em;">
						</ul>
						
						</div>
						<div class="clear">
						<br />
						<a class="more" href="#"><span>Show all (+2)</span></a>
						</div>
						</div>
						
						<div class="clear ptop_10">
						<div class="title3 "><span>gENERAL KEYWORDS</span></div>
						<div class="buttonwrapper_left">
							
						<ul id="general_keywords" class="" style="list-style-type:none;background-color:DarkSeaGreen;border:1px solid green;width:150px;height:200px;padding:0em;">
						</ul>
						
						</div>
						<div class="clear">
						<br />
						<a class="more" href="#"><span>Show all (+2)</span></a>
						</div>
						</div>
				</div>	
			</div>
		<div class="main_box_but"></div>