<div class="header">	

	<div class="header_menu">
		<div class="logo left"><%= image_tag("mvp/logo.png") %></div>
		<div class="right">
		
				<%= render :partial => '/fs_mvp/mvp_language_bar' %>
				 
		</div>
	
	</div>
	
</div>