<div style="width:550px;text-align:center;opacity:1;filter:alpha(opacity=100);-moz-opacity: 1;">
	
<div style="padding-top:25px;text-align:left;">
	<div style="font-style:italic;font-size:30px;color:black;">To find your perfect job</div>
	<div style="font-weight:bold;font-size:30px;color:black;padding-top:15px;">You don't need your CV.</div>
	<div style="font-weight:bold;text-decoration:underline;font-size:30px;color:black;padding-top:15px;">You need your top 5 skills.</div>	
</div>
	
<% if session[:mvp_completed] == true || cookies[:mvp_completed] == true %>

	<div style="padding-top:80px;height:170px;text-align:left;font-style:italic;font-size:12px;font-weight:bold;">
		You're done! -- <%= link_to 'try again.', mvp_start_over_url %>
	</div>
 
<% else %>

	<ul id="slider2" style="padding-top:35px;">
	  <li>
	  	<div style="padding-left:5px;text-align:left;font-style:italic;font-size:12px;font-weight:bold;">
			Start by telling us your top 5 skills...	
		</div>
	
	  	<table style="text-align:left;">
			<tr>
				<td style="vertical-align:bottom;">
					<table style="width:100%;text-align:left;">
							
						<tr>
							<td style="">
								<input type="text" style="height:30px;width:230px;font-style:italic;color:#2F4F4F;font-weight:bold;" id="skill_1-name" name="skills_profile[skill_1][name]" value="Start typing your 1st skill here..." onkeyup="field_keyup(this, 'btn_find_jobs');" onblur="field_blur(this);" onclick="field_click(this);">
								<br/>
								<span style="font-style:italic;font-size:8px;font-weight:bold;">E.g. Software project management...</span>
							</td>
						</tr>
						<tr>
							<td style="">
								<input type="text" style="height:30px;width:230px;font-style:italic;color:#2F4F4F;" id="skill_2-name" name="skills_profile[skill_2][name]" value="Start typing your 2nd skill here..." onblur="field_blur(this);" onclick="field_click(this);">
								<br/>
								<span style="font-style:italic;font-size:8px;font-weight:bold;">E.g. Software project management...</span>
							</td>
						</tr>
						
					</table>
				</td>
				<td style="vertical-align:bottom;padding-bottom:20px;">
					<div id="jobs_available" style="text-align:left;font-size:10px;"></div>
					<button id="btn_find_jobs" disabled="disabled" style="height:70px;width:200px;" onclick="ajax_it('MVP_find_jobs');">Find <b>Jobs</b></button>			
				</td>
			</tr>
		</table>
	  </li>
	  <li>
	  	<div style="padding-left:5px;text-align:left;font-style:italic;font-size:12px;font-weight:bold;">
			Thanks for telling us your top 2 skills.
		</div>
		
		<div style="padding-top:10px;padding-left:5px;text-align:left;font-style:italic;width:350px;">
			<p style="font-size:10px;">We are still developing this amazing new tailored job finder tool and plan to launch VERY SOON!</p>
			<p style="font-size:10px;">To be amongst the first to get your tailored jobs, please leave us your email address.</p>
		</div>
		
	  	<table>
			<tr>
				<td style="vertical-align:top;">
					<input type="text" style="height:30px;width:230px;font-style:italic;color:#2F4F4F;font-weight:bold;" id="field_3-email" name="user_login[email]" value="Type your email address here..." onkeyup="field_keyup(this, 'btn_i_want_in');" onblur="field_blur(this);" onclick="field_click(this);">
					<div id="user_login-email_error" style="text-align:left;font-size:10px;"></div>
				</td>
				<td>
					<button id="btn_i_want_in" disabled="disabled" style="height:70px;width:200px;" onclick="ajax_it('MVP_js_i_want_in');"><b>I want in!</b></button>			
				</td>
			</tr>
		</table>
	  </li>
	  <li>
	  	<div style="padding-left:5px;text-align:left;font-style:italic;font-size:12px;font-weight:bold;">
			Thank you!
		</div>
		<div style="padding-top:10px;padding-left:5px;text-align:left;font-style:italic;width:350px;">
			<p style="font-size:10px;">Please share 5skills on...</p>
			<p style="font-size:10px;">The more sign-ups we get, the sooner we can launch.</p>
		</div>
	  	
	  	<%= render :partial => '/fs_mvp/mvp_social_share' %>
	  </li>
	</ul> 
		
<% end %>

</div>