<% content_for :head do %>
	5skills.me 
<% end %>

<div style="width:100%;height:560px;min-height:550px;background-image: url(../images/background-recruitment_agent.jpg);background-position: 300px 0px;">

<%= render :partial => '/fs_mvp/mvp_header' %>

<table style="width:100%;">
	<tr>
		<td style="padding-top:0em;vertical-align:top;">
			<%= render :partial => '/fs_mvp/mvp_ra_form' %>
		</td>
	</tr>
	<tr>
		<td style="text-align:left;padding-left:15px;">
			<%= render :partial => '/fs_mvp/mvp_footer' %>
		</td>
	</tr>
</table>

</div>

