<!-- 'Session' IDs -->
	
<div id="session_ids" style="display:none;">
	
	
	<!-- Tracking 'active user' - based on the FsBaseController::ENTITY_TYPES {:job => 1, :job_seeker => 2} (TEMPORARY) -->
	<input type="hidden=" name="active_user" value="">
	
	<input type="hidden" name="json" value="">	
	
</div>