<div id="template__job_post_apply__other_opportunities" style="width:650px;padding:15px;display:none;">
	
	<div style="height:40px;">
		<div style="color:green;font-size:26px;font-weight:bold;float:left;">SENT!</div>
	</div>
	
	<div style="margin-top:5px;width:585px;font-size:16px;">
		And... there are also
		<span style="font-size:20px;color:green;">8</span> other jobs that match your skills. Here are the top <span style="font-size:20px;color:green;">3</span> matches:
	</div>
	
	<div style="padding-top:10px;height:210px;">
		
		<div style="width:200px;height:200px;float:left;">
			<div style="font-size:10px;color:gray;width:200px;text-align:right;">
				2 days ago
			</div>
			<div style="margin-top:5px;border-top:2px solid #DCDCDC;height:190px;background-color:#FDF5E6;">
				<div style="padding:5px 0px 0px 10px;font-size:50px;text-align:center;color:green;">
					85%
				</div>
				<div style="font-size:14px;font-weight:bold;color:black;width:200px;padding:0px 10px 0px 10px;text-align:left;height:25px;">
					PHP developer
				</div>
				
				<div style="padding:10px 0px 0px 10px;height:105px;font-size:50px;color:green;">
					<div style="width:180px;background-color:#DCDCDC;height:1px;"></div>
					<div style="margin-top:10px;">
						<div style="width:50px;height:50px;float:left;">
							Image
						</div>
						<div style="float:left;width:122px;height:50px;text-align:left;padding-left:10px;">
							<span style="font-size:14px;color:black;font-weight:bold;">Outbrain</span>
							<br/>
							<span style="font-size:12px;color:gray;">Netanya, Israel</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div style="width:2px;height:210px;margin-left:10px;margin-right:10px;float:left;"></div>
		
		<div style="width:200px;height:200px;float:left;">
			<div style="font-size:10px;color:gray;width:200px;text-align:right;">
				4 hours ago
			</div>
			<div style="margin-top:5px;border-top:2px solid #DCDCDC;height:190px;background-color:#FDF5E6;">
				<div style="padding:5px 0px 0px 10px;font-size:50px;text-align:center;color:green;">
					83%
				</div>
				<div style="font-size:14px;font-weight:bold;color:black;width:200px;padding:0px 10px 0px 10px;text-align:left;height:25px;">
					Front-end developer
				</div>
				
				<div style="padding:10px 0px 0px 10px;height:105px;font-size:50px;color:green;">
					<div style="width:180px;background-color:#DCDCDC;height:1px;"></div>
					<div style="margin-top:10px;">
						<div style="width:50px;height:50px;float:left;">
							Image
						</div>
						<div style="float:left;width:122px;height:50px;text-align:left;padding-left:10px;">
							<span style="font-size:14px;color:black;font-weight:bold;">Kaltura</span>
							<br/>
							<span style="font-size:12px;color:gray;">Tel Aviv, Israel</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div style="width:2px;height:210px;margin-left:10px;margin-right:10px;float:left;"></div>
		
		<div style="width:200px;height:200px;float:left;">
			<div style="font-size:10px;color:gray;width:200px;text-align:right;">
				yesterday
			</div>
			<div style="margin-top:5px;border-top:2px solid #DCDCDC;height:190px;background-color:#FDF5E6;">
				<div style="padding:5px 0px 0px 10px;font-size:50px;text-align:center;color:green;">
					79%
				</div>
				<div style="font-size:14px;font-weight:bold;color:black;width:200px;padding:0px 10px 0px 10px;text-align:left;height:25px;">
					jQuery developer
				</div>
				
				<div style="padding:10px 0px 0px 10px;height:105px;font-size:50px;color:green;">
					<div style="width:180px;background-color:#DCDCDC;height:1px;"></div>
					<div style="margin-top:10px;">
						<div style="width:50px;height:50px;float:left;">
							Image
						</div>
						<div style="float:left;width:122px;height:50px;text-align:left;padding-left:10px;">
							<span style="font-size:14px;color:black;font-weight:bold;">Wix</span>
							<br/>
							<span style="font-size:12px;color:gray;">Tel Aviv, Israel</span>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	
	<% if 1 == 2 %>
	
		<div style="padding-top:10px;height:30px;padding-top:10px;font-size:16px;">
			To get contacted by these and other employers, please 'Like' us or 'Send' our information with your friends.
		</div>
		
		<div class="fb-like" data-href="http://www.facebook.com/5skills" data-send="true" data-width="450" data-show-faces="true"></div>
		
	<% end %>
	
	<% if 1 == 1 %>
	
		<div style="margin-top:20px;height:30px;font-size:20px;font-weight:bold;font-style:italic;">
			Would you like to get more job offers that match YOUR skills?
		</div>
	
		<div style="margin-left:175px;margin-top:30px;height:40px;padding-bottom:25px;">
			<button class="btn__other_opportunities__not_interested" submit_form_id="frm_send_application" style="margin-left:15px;background-color:red;width:220px;height:60px;">
				<span style="font-weight:bold;font-size:20px;color:white;">No</span>
				<br/>
				<span style="font-style:italic;color:white;">I'm not interested</span>
			</button>
			<button class="btn__other_opportunities" submit_form_id="frm_send_application" style="margin-left:15px;background-color:green;width:220px;height:60px;">
				<span style="font-weight:bold;font-size:20px;color:white;">Yes >></span>
				<br/>
				<span style="font-style:italic;color:white;">I want more job offers</span>
			</button>
		</div>
	
	<% end %>
	
</div>
