<div id="template__job_post_apply__other_opportunities_not_interested" style="width:450px;padding:15px;display:none;">
	
	
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=156127131075698";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
	
	
	<div style="font-size:16px;height:40px;">
		<div style="color:red;font-size:26px;font-weight:bold;float:left;">Damn! :-(</div>
		<div style="padding-left:20px;float:left;padding-top:13px;">Sorry we can't help you more!</div>
	</div>
	
	<div style="margin-top:5px;padding:5px 5px 5px 0px;width:400px;font-size:14px;">
		<span style="color:green;font-size:14px;">
			Good luck job hunting!
			<br/>
			<br/>
			'Like' us below and check us out on Facebook (below) to get tips, tricks and funny videos about job hunting ;-)
		</span>
	</div>
	
	<div style="margin-left:5px;margin-top:30px;height:80px;">
			
		<div class="fb-like" data-href="http://www.facebook.com/5skills" data-width="350" data-show-faces="true" style="float:left;"></div>
		<div style="display:none;float:left;margin-top:20px;background-image:url('../images/logos/facebook-logo.png');background-size:105px auto;width:105px;height:35px;cursor:pointer;" onclick="window.open('http://www.facebook.com/5skills');"></div>
		
	</div>
	
</div>
