<div id="template__job_post_apply__plans_n_pricing" style="width:700px;padding:15px;display:none;">
	
	<div style="font-size:16px;">
		<span style="color:green;font-size:26px;font-weight:bold;">Choose a plan!</span>
	</div>
	
	<div style="padding-top:10px;height:35px;padding-top:10px;font-size:18px;">
		Last but not least, choose the plan that best fits your 'job seeking style'.
	</div>
		
	<div style="height:330px;margin-top:10px;">
		<div style="height:300px;margin-left:5px;padding:40px 10px 10px 10px;float:left;">
			<div style="width:200px;height:200px;background-color:#F8F8FF;border:1px solid #DCDCDC;text-align:center;font-size:30px;">
				<div style="font-size:30px;text-align:center;padding-top:20px;">
					PASSIVE
				</div>
				<div style="font-size:45px;text-align:center;color:green;padding-top:10px;">
					FREE
				</div>
			</div>
			<div style="padding:5px 0px 0px 5px;text-align:left;font-size:14px;">
				1. Unlimited XXX
				<br/>
				2. Unlimited YYY
				<br/>
				3. Ability to ...
			</div>
		</div>
		
		<div style="height:300px;margin-left:5px;padding:10px 10px 10px 10px;float:left;background-color:green;">
			<div style="height:20px;font-size:18px;font-style:italic;text-align:center;font-weight:bold;padding-bottom:10px;color:white;">
				Recommended!
			</div>	
			<div style="width:200px;height:200px;background-color:#F8F8FF;border:1px solid #DCDCDC;text-align:center;font-size:30px;">
				<div style="font-size:30px;text-align:center;padding-top:20px;">
					EXPLORER
				</div>
				<div style="font-size:45px;text-align:center;color:green;padding-top:10px;">
					$9
				</div>
				<div style="font-size:14px;text-align:center;padding-top:10px;">
					per YEAR
				</div>
			</div>
			<div style="padding:5px 0px 0px 5px;text-align:left;font-size:14px;color:white;">
				1. Unlimited XXX
				<br/>
				2. Unlimited YYY
				<br/>
				3. Ability to ...
			</div>
		</div>
		
		<div style="height:300px;margin-left:5px;padding:40px 10px 10px 10px;float:left;">
			<div style="width:200px;height:200px;background-color:#F8F8FF;border:1px solid #DCDCDC;text-align:center;font-size:30px;">
				<div style="font-size:30px;text-align:center;padding-top:20px;">
					ACTIVE
				</div>
				<div style="font-size:45px;text-align:center;color:green;padding-top:10px;">
					$19
				</div>
				<div style="font-size:14px;text-align:center;padding-top:10px;">
					per YEAR
				</div>
			</div>
			<div style="padding:5px 0px 0px 5px;text-align:left;font-size:14px;">
				1. Unlimited XXX
				<br/>
				2. Unlimited YYY
				<br/>
				3. Ability to ...
			</div>
		</div>
	</div>
	
	<div style="margin-left:460px;margin-top:10px;height:60px;">
		
		<button class="btn__sign_up__finish" submit_form_id="frm_send_application" style="margin-left:15px;background-color:green;width:200px;height:50px;">
			<span style="font-weight:bold;font-size:20px;color:white;">Finish!</span>
		</button>
		
	</div>
	
</div>
