<div id="template__first_time_access" style="width:650px;padding:15px;display:none;">
	
	<div style="width:650px;height:40px;">
		<div style="font-weight:bold;font-size:30px;">
			First time applying through <span style="font-style:italic;color:green;font-size:30px;">5skills</span>?
		</div>
		<div style="font-size:14px;margin-top:10px;">
			Applying to jobs through 5skills provides an anonymous, easy and accurate way of finding your next job.
		</div>
	</div>
	
	<div style="width:100%;height:150px;padding-top:30px;text-align:center;margin-top:25px;">
		<div style="width:320px;height:150px;float:left;background-color:#FDF5E6;text-align:center;">
			<div style="padding:10px 0px 0px 0px;">
				<div style="padding-top:25px;">
					<button class="btn__first_time_to_5skills" style="background-color:green;width:200px;height:80px;">
						<span style="font-weight:bold;font-size:40px;color:white;">Yes</span>
						<br/>
						<span style="font-style:italic;color:white;">Learn more</span>
					</button>
				</div>
			</div>
		</div>
		<div style="width:320px;height:150px;float:left;background-color:#FDF5E6;text-align:center;margin-left:10px;">
			<div style="padding:10px 0px 0px 0px;">
				<div style="padding-top:25px;">
					<button class="btn__not_first_time_to_5skills" style="background-color:red;width:200px;height:80px;">
						<span style="font-weight:bold;font-size:40px;color:white;">No</span>
						<br/>
						<span style="font-style:italic;color:white;">Apply to job</span>
					</button>
				</div>
			</div>
		</div>
	</div>
	
</div>
