<div id="template__sign_up__success_beta" style="width:500px;padding:15px;display:none;">
	
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=156127131075698";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
	
	
	<div style="font-size:30px;">
		<span style="font-style:italic;color:green;font-size:30px;">Done!</span>
	</div>
	
	<div style="margin-top:15px;width:500px;font-size:14px;">
		Recruiters can now contact you once your 5skills profile matches their job requirements.
		<br/></br/>
		We are currently running an alpha version so editing your profile will be available very soon.
		'Like' us on Facebook (below) and get notified of updates and when you can start using your profile. 
	</div>
	
	<div style="margin-left:5px;margin-top:30px;height:80px;">
			
		<div class="fb-like" data-href="http://www.facebook.com/5skills" data-width="350" data-show-faces="true" style="float:left;"></div>
		<div style="display:none;float:left;margin-top:20px;background-image:url('../images/logos/facebook-logo.png');background-size:105px auto;width:105px;height:35px;cursor:pointer;" onclick="window.open('http://www.facebook.com/5skills');"></div>
		
	</div>
	
</div>
