<div id="templates">
	
	<%= render :partial => '/js/html_template/__fs_profile/_fs_profile' %>
	<%= render :partial => '/js/html_template/__fs_profile/_bit__fs_profile' %>
	
	<%= render :partial => '/js/html_template/job_seeker/a_job_seeker__headers' %>
	
</div>