<div id="fs_profile" <%= 'entity_id="' + @active_fs_profile[:id] + '"' if @active_fs_profile %>
	
	Location: Tel Aviv
	Job type: Full time
	Company type: All types
	Salary requirements: All

	<div class="mid_center">
		
		<ul id="sortable_skills" class="">
			<li class="sortable_skills_li">
				<div style="height:40px;">
					<ul id="sortable1" class="connectedSortable" style="border:0px;"></ul>
				</div>
			</li>
			<li class="sortable_skills_li">
				<div style="height:40px;">
					<ul id="sortable3" class="connectedSortable" style="border:0px;"></ul>
				</div>
			</li>
			<li class="sortable_skills_li">
				<div style="height:40px;">
					<ul id="sortable5" class="connectedSortable" style="border:0px;"></ul>
				</div>
			</li>
			<li class="sortable_skills_li">
				<div style="height:40px;">
					<ul id="sortable7" class="connectedSortable" style="border:0px;"></ul>
				</div>			
			</li>
			<li class="sortable_skills_li">
				<div style="height:40px;">
					<ul id="sortable9" class="connectedSortable" style="border:0px;"></ul>
				</div>
			</li>
			<li class="sortable_skills_li">
				<ul id="sortable10" class="connectedSortable"></ul>
			</li>
		</ul>
		
	</div>

</div>
