<div id="fs_profile" <%= 'entity_id="' + @active_fs_profile[:id] + '"' if @active_fs_profile %>

	<div class="mid_center">
		
		<ul id="sortable_skills" class="">
			<li class="sortable_skills_li">
				<table>
					<tr>
						<td>
							<table>
								<tr><td><ul id="sortable1" class="connectedSortable" style="border:0px;"></ul></td></tr>
								<tr><td><ul id="sortable2" class="connectedSortable"></ul></td></tr>
							</table>
						</td>
					</tr>
				</table>
			</li>
			<li class="sortable_skills_li">
				<table>
					<tr>
						<td>
							<table>
								<tr><td><ul id="sortable3" class="connectedSortable" style="border:0px;"></ul></td></tr>
								<tr><td><ul id="sortable4" class="connectedSortable"></ul></td></tr>
							</table>
						</td>
					</tr>
				</table>
			</li>
			<li class="sortable_skills_li">
				<table>
					<tr>
						<td>
							<table>
								<tr><td><ul id="sortable5" class="connectedSortable" style="border:0px;"></ul></td></tr>
								<tr><td><ul id="sortable6" class="connectedSortable"></ul></td></tr>
							</table>
						</td>
					</tr>
				</table>
			</li>
			<li class="sortable_skills_li">
				<table>
					<tr>
						<td>
							<table>
								<tr><td><ul id="sortable7" class="connectedSortable" style="border:0px;"></ul></td></tr>
								<tr><td><ul id="sortable8" class="connectedSortable"></ul></td></tr>
							</table>
						</td>
					</tr>
				</table>				
			</li>
			<li class="sortable_skills_li">
				<table>
					<tr>
						<td>
							<table>
								<tr><td><ul id="sortable9" class="connectedSortable" style="border:0px;"></ul></td></tr>
								<tr><td><ul id="sortable10" class="connectedSortable"></ul></td></tr>
							</table>
						</td>
					</tr>
				</table>				
			</li>
		</ul>
		
	</div>
	
	<div class="mid_right ptop_5">
			
		<div>
			<div class="title3_first"><span>Job Type</span></div>
			<div class="buttonwrapper_left">
				
			<ul id="job_type" class="default_panel" style="list-style-type:none;width:150px;height:100px;">
			</ul>
			
			</div>
		</div>
		
		<div class="clear ptop_10">
			<div class="title3 "><span>lOCATION</span></div>
			<div class="buttonwrapper_left">
				
			<ul id="location" class="default_panel" style="list-style-type:none;width:150px;height:100px;">
			</ul>
			
			</div>
		</div>
		
		<div class="clear ptop_10">
			<div class="title3  "><span>gENERAL KEYWORDS</span></div>
			<div class="buttonwrapper_left">
				
			<ul id="general_keywords" class="default_panel" style="list-style-type:none;width:150px;height:400px;">
			</ul>
			
			</div>
		</div>
		
	</div>

</div>
