<div id="fs_profile" <%= 'entity_id="' + @active_fs_profile[:id] + '"' if @active_fs_profile %>>

	<div class="mid_center" style="padding-bottom:15px;">
		
		<ul id="sortable_skills" class="">
			<li class="sortable_skills_li">
				<table>
					<tr>
						<td>
							<table>
								<tr><td><ul id="sortable1" class="connectedSortable" style="border:0px;"></ul></td></tr>
							</table>
						</td>
					</tr>
				</table>
			</li>
			<li class="sortable_skills_li">
				<table>
					<tr>
						<td>
							<table>
								<tr><td><ul id="sortable3" class="connectedSortable" style="border:0px;"></ul></td></tr>
							</table>
						</td>
					</tr>
				</table>
			</li>
			<li class="sortable_skills_li">
				<table>
					<tr>
						<td>
							<table>
								<tr><td><ul id="sortable5" class="connectedSortable" style="border:0px;"></ul></td></tr>
							</table>
						</td>
					</tr>
				</table>
			</li>
		</ul>
		
	</div>

</div>
