<% content_for :head do %>
	5skills.me 
<% end %>

<% content_for :title do %>
	
<% end %>

<div class="body_container">
	<div class="homepage_5_body_top">
		<div class="homepage_5_body_top_top" style="">
			<div class="homepage_5_headline_2">Get anonymous.<br/><highlight>Show your skills.</highlight><br/>Get a better job.</div>
			<div style="padding-left:5px;padding-top:10px;width:600px;line-height:28px;">
				<div style="font-size:20px;font-style:normal;font-weight:normal;">An anonymous profile based on skills that finds your next job.</div>
				<div id="lnk_learn_more" class="link_a"><a>Learn more</a></div>
			</div>
		</div>
		<div class="homepage_body_strip" style="padding-left:20px;">
			<div style="padding-top:0px;margin-left:700px;font-weight:bold;font-size:22px;color:#4d4d4d;">It's FREE.</div>
			<div id="btn_login" class="homepage_5_login_button" style="margin-top:10px;"></div>
			<!-- <div class="link_a" style="padding-top:0px;margin-left:650px"><a>Don't have a LinkedIn account?</a></div> -->
		</div>
	</div>
	
	<div style="padding-left:72px;"><div id="lnk_goto_whatis" class="seperator_horizontal"></div></div>
	
	<div style="padding-top:50px;width:1024px;text-align:center;">
		<div style="font-size:26px;font-weight:bold;">What is 5skills?</div>
	</div>
	
	<div style="padding-top:50px;padding-bottom:30px;width:1024px;height:400px;">
		<div class="homepage_5_mockups left"></div>
		<div class="left" style="padding-left:50px;padding-top:50px;">
			<div class="homepage_bullet_point" style="width:500px;"><highlight>1.</highlight> It's your <bold>professional profile</bold> based on your skills, your job preferences and your resume</div>
			<div class="homepage_bullet_point" style="width:500px;"><highlight>2.</highlight> It's an employer's HR <bold>talent sourcing</bold> platform providing better matching between you and jobs you really want</div>
			<div class="homepage_bullet_point" style="width:500px;"><highlight>3.</highlight> It's <bold>completely anonymous!</bold> <underline>No one knows it's you</underline></div>
		</div>
	</div>
	
	<div style="padding-left:72px;"><div id="lnk_goto_whatis" class="seperator_horizontal"></div></div>
	
	<div style="padding-top:50px;width:1024px;text-align:center;">
		<div style="font-size:26px;font-weight:bold;">How it works?</div>
	</div>
	
	<div style="padding-top:50px;width:1024px;height:150px;">
		<div class="homepage_howto_step homepage_howto_step_1">Create a<br/><highlight>5skills</highlight> profile</div>
		<div class="homepage_howto_step homepage_howto_step_2">Get great<br/><highlight>job leads</highlight></div>
		<div class="homepage_howto_step homepage_howto_step_3"><highlight>1-click</highlight> to<br/>show interest</div>
		<div class="homepage_howto_step homepage_howto_step_4">Employers<br/><highlight>call you</highlight></div>
	</div>
	
	<div style="padding-top:50px;width:1024px;height:150px;">
		<div class="homepage_body_strip" style="text-align:center;">
			<div style="padding-top:0px;margin-left:0px;font-weight:bold;font-size:22px;color:#4d4d4d;">It's FREE.</div>
			<div id="btn_login" class="homepage_5_login_button" style="margin-left:310px;margin-top:10px;"></div>
			<!-- <div class="link_a" style="padding-top:0px;margin-left:650px"><a>Don't have a LinkedIn account?</a></div> -->
		</div>
	</div>
	
	<div class="homepage_body_bottom">
		<div class="homepage_notes" style="padding-top:10px;height:20px;">
			<!-- * We don’t post any status updates anywhere. We use your email to send you job matches. We use your employment history and skills to create your anonymous profile -->
		</div>
		<div class="footer">
			<%= mail_to 'tomer@5skills.me', 'Contact' %> | 5skills.me (c) 2013 All Rights Reserved.
		</div>
	</div>
</div>

