<% content_for :head do %>
	5skills.me 
<% end %>

<% content_for :title do %>
	
<% end %>

<div class="body_container">
	<div class="homepage_4_body_top">
		<div class="homepage_body_top_top" style="padding-top:70px;padding-bottom:10px;padding-left:360px;font-weight:bold;">
			<div class="homepage_headline_2">Get anonymous. Get employed.</div>
			<div class="homepage_headline_1 mtop_5" style="margin-right:15px;float:right;">
				<span style="font-style:italic;color:#C9A5A2;">in</span> <span style="font-weight:normal;font-size:18px;font-style:normal;">High-tech / IT</span>
				<span style="font-style:italic;color:#C9A5A2;">in</span> <span style="font-weight:normal;font-size:18px;font-style:normal;">Tel Aviv, Israel</span>
			</div>
			<div style="padding-top:80px;margin-left:170px;width:450px;line-height:28px;">
				<div style="font-size:16px;font-style:normal;font-weight:normal;"><span style="font-weight:600;font-size:22px;">1</span>. <span style="font-weight:bold;font-size:16px;">Anonymously</span> connect your LinkedIn profile</div>
				<div style="font-size:16px;font-style:normal;font-weight:normal;"><span style="font-weight:600;font-size:22px;">2</span>. Employers find you based on your <span style="font-weight:bold;font-size:16px;">skills</span> and <span style="font-weight:bold;font-size:16px;">job preferences</span></div>
				<div style="font-size:16px;font-style:normal;font-weight:normal;"><span style="font-weight:600;font-size:22px;">3</span>. Employers offer you jobs you <span style="font-weight:bold;font-size:16px;">only</span> want!</div>
			</div>
		</div>
		<div class="homepage_body_strip">
			<div style="padding-top:0px;margin-left:535px;font-style:italic;font-weight:bold;font-size:16px;">Connect to our BETA site. It's FREE.</div>
			<div id="btn_login" class="homepage_4_login_button" style="padding-left:15px;margin-top:20px;">Connect now <span style="color:white;font-weight:bold;font-size:23px;">></span></div>
		</div>
	</div>
	<div class="homepage_body_bottom">
		<div class="homepage_notes" style="padding-top:10px;height:20px;">
			* We don’t post any status updates anywhere. We use your email to send you job matches. We use your employment history and skills to create your anonymous profile
		</div>
		<div class="footer">
			<%= mail_to 'tomer@5skills.me', 'Contact' %> | 5skills.me (c) 2013 All Rights Reserved.
		</div>
	</div>
</div>

