<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  	<head>
    	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  	</head>
	<body>

<div style="width:600px;">
<h1>Thanks for signing-up for <span style="font-style:italic;">5skills.me</span>!!</h1>
<h2>Your <span style="font-style:italic;">personal</span> job match-maker is on its way...</h2>
</div>

<div style="width:470px;">
<h3>- What is <span style="font-style:italic;">5skills.me?</span></h3>
<p style="font-style:italic;">
Finding a job is like finding love. 5skills.me is your personal job match-maker. You create your profile by choosing only 5 skills and instantly get matched with perfect jobs.
</p>

<p>
We're a start-up company based in Tel Aviv, Israel. Currently, we're validating the service and our market and planning to launch our first BETA very soon. We need your feedback and would LOVE to hear what you think.
</p>

<p>
<h3>- Early sign-up perks!</h3>
By signing up before our first launch, you get a few cool things:<br/>
</p>
<p style="line-height:26px;">
<b>1</b>. <u>Your <span style="font-weight:bold;">5skills.me</span> profile ready for recruiters when we launch</u><br/>
<b>2</b>. <u>Early access to new features before everyone else</u><br/>
<b>3</b>. <u>Your profile mentioned in the <span style="font-weight:bold;">'Friends of 5skills'</span> section when we launch!</u><br/>
</p>

<p>
<h3>- Help us launch sooner!</h3>
Please follow these steps to help us launch sooner and help you find the best matched job quicker:
</p>
<p style="line-height:26px;">
<b>1.</b> <u>Send us your <span style="font-weight:bold;">CV</span></u> - 
<span style="font-style:italic;">so we could create your 5skills.me profile and start attracting the best jobs on the market from the best employers and recruitment agencies!</span><br/>
<b>2.</b> <u><span style="font-weight:bold;">Like</span> us on Facebook</u></span> - <span style="font-style:italic;"><a href="http://www.facebook.com/5skills">facebook.com/5skills</a></span><br/>
<b>3.</b> <u>Share <span style="font-weight:bold;">5skills.me</span> with the world</u> - <span style="font-style:italic;">on Facebook, LinkedIn, Twitter and the real world.</span>
</p>
<hr/>

<h4 style="font-style:italic;">5skills.me<span style="font-weight:normal;"> - my jobs match-maker</span></h4>
<h5><a href="http://www.facebook.com/5skills">facebook.com/5skills</a></h5>
Tomer Sagi<br/>
052 868-4411<br/>
<a href="mailto:tomer@5skills.me">tomer@5skills.me</a><br/>
Tel Aviv<br/>
Israel

</div>

	</body>
</html>