<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="rtl">
  	<head>
    	<meta http-equiv="content-type" content="text/html;charset=windows-1255" />
  	</head>
	<body>

<div style="width:600px;dir:rtl;">
<h1>תודה שנרשמת ל-<span style="font-style:italic;">5skills.me</span>!!</h1>
<h2>משדך המשרות ה<span style="font-style:italic;">אישי</span> שלך בדרך...</h2>
</div>

<div style="width:470px;">
<h3>- מה זה <span style="font-style:italic;">5skills.me</span>?</h3>
<p style="font-style:italic;">
למצוא עבודה זה כמו למצוא אהבה. <span style="font-weight:bold;">5skills.me</span> הוא מתווך המשרות האישי שלך. אתה יוצר פרופיל באמצעות 5 כישורים בלבד ומיד מקבל משרות תפורות עליך.
</p>

<p>
אנחנו סטארט-אפ תל אביבי, ישראלי. כרגע, אנחנו מבצעים סקר שוק לקבוע את יעילות השירות ומתכננים לעלות לאוויר עם מוצר בטא בקרוב. אנחנו זקוקים לפידבק שלך ומחכים לשמוע מה אתה חושב.
</p>

<p>
<h3>- הטבות לנרשמים הראשונים!</h3>
בגלל שנרשמת לפני העליה לאוויר, אתה תקבל כמה הטבות מגניבות:<br/>
</p>
<p style="line-height:26px;">
<b>1</b>. <u>הפרופיל שלך ב-<span style="font-weight:bold;">5skills.me</span> יהיה מוכן למגייסים לפני העלייה לאוויר</u><br/>
<b>2</b>. <u>גישה ראשונה לפיצ'רים חדשים באתר לפני כולם</u><br/>
<b>3</b>. <u>הפרופיל שלך יופיע באיזור של החברים של 5skills באתר (<span style="font-weight:bold;">'Friends of 5skills'</span>)</u><br/>
</p>

<p>
<h3>- תעזור לנו לעלות לאוויר מהר יותר!</h3>
באמצעות כמה דברים קטנים תוכל לעזור לנו לעלות לאוויר מהר יותר ולמצוא לך את המשרות המותאמות לך:
</p>
<p style="line-height:26px;">
<b>1.</b> <u>תשלח לנו את ה <span style="font-weight:bold;">קורות חיים</span> (השב לאימייל זה בצירוף קובץ קורות החיים שלך)</u> - <span style="font-style:italic;">כדי שנוכל ליצור לך פרופיל 5skills.me ולהתחיל למשוך את המשרות הכי טובות בשוק מהמעבידים וחברות ההשמה הכי טובות</span><br/>
<b>2.</b> <u>תעשה לנו לייק (<span style="font-weight:bold;">Like</span>) בפייסבוק</u></span> - <span style="font-style:italic;"><a href="http://www.facebook.com/5skills">facebook.com/5skills</a></span><br/>
<b>3.</b> <u>תשתף את <span style="font-weight:bold;">5skills.me</span> עם העולם</u> - <span style="font-style:italic;">ב-Facebook, LinkedIn, Twitter והעולם האמיתי</span>
</p>
<hr/>

<h4 style="font-style:italic;">5skills.me<span style="font-weight:normal;"> - my jobs match-maker</span></h4>
<h5><a href="http://www.facebook.com/5skills">facebook.com/5skills</a></h5>
תומר שגיא (Tomer Sagi)<br/>
052 868-4411<br/>
<a href="mailto:tomer@5skills.me">tomer@5skills.me</a><br/>
תל אביב<br/>
ישראל

</div>

	</body>
</html>