<% content_for :head do %>
  <title>FLYC - Forgot Password</title>
<% end %>

<% content_for :title do %>
	<span class="content-title">Forgot Password</span>
<% end %>

<%= render :partial => '/main/messages', :locals => {:action => "general"} %>

<div class="content-body" style="padding:5em 0em 5em 0em;">

<% form_tag :action => :process_forgot_password do %>

	<table>
	  <tr>
	  	<td>Email:</td>
		<td><%= text_field 'login', 'email'%></td>
	  </tr>
	  <tr>
	  	<td>&nbsp;</td>
		<td><%= submit_tag 'Give me my Password please' %></td>
	  </tr>
	</table>

	<p/>
   
<% end %>

</div>