<% content_for :head do %>
  <title>FLYC - Forgot Password Email Sent</title>
<% end %>

<% content_for :title do %>
	<span class="content-title">Forgot Password Email Sent</span>
<% end %>

<%= render :partial => '/main/messages', :locals => {:action => "general"} %>

<div class="content-body" style="padding:5em 0em 5em 0em;">

	Your password have sent to the email provided.
	<br><br>
	If you're still experiencing problems, please contact support.

</div>