
<div id="template__job_seeker_match" class="job_seeker_result" style="background-color:#fff;padding:4px;margin:3px;width:150px;float:left;height:180px;overflow:hidden;display:none;border-left:1px solid #D3E8D3;border-top:1px solid #D3E8D3;border-right:2px solid #D3E8D3;border-bottom:2px solid #D3E8D3;">
	
	<div style="font-weight:bold;font-size:24px;">Anonymous passive job seeker</div>
	
	<div style="width:1000px;height:76px;padding-top:15px;">
		<div id="suggested_groups" style="width:320px;float:left;padding-left:10px;background-color:#D3E8CC;text-align:center;border-bottom:0px solid #000;cursor:default;">
			<div id="suggested_group_count" style="font-size:35px;padding:5px 0px 0px 0px;color:#64AE64;font-weight:bold;">?</div>
			<div style="font-size:14px;padding:0px 0px 7px 0px;font-style:italic;">Attribute A</div>
		</div>
		<div id="missing_groups" style="width:320px;float:left;padding-left:10px;margin-left:5px;background-color:#D3E8CC;text-align:center;border-bottom:0px solid #000;cursor:default;">
			<div id="missing_group_count" style="font-size:35px;padding:5px 0px 0px 0px;color:red;">?</div>
			<div style="font-size:14px;padding:0px 0px 7px 0px;font-style:italic;">Attribute B</div>
		</div>
		<div id="current_group_state" style="width:320px;float:left;padding-left:10px;margin-left:5px;background-color:#D3E8CC;text-align:center;border-bottom:0px solid #000;cursor:default;">
			<div id="groups_count" style="font-size:35px;padding:5px 0px 0px 0px;color:#64AE64;">?</div>
			<div style="font-size:14px;padding:0px 0px 7px 0px;font-style:italic;">Attribute C</div>
		</div>
	</div>
	<div style="width:1000px;height:60px;">
		<div id="groups_list" style="float:left;margin:15px 0px 15px 5px;width:620px;font-size:12px;font-style:italic;">
			The following is a list of LinkedIn groups you are a member of in addition to the ones you should be a member of to get the most for your talent reach needs.
		</div>
		<div id="actions" style="float:left;width:345px;margin:15px 0px 15px 30px;text-align:center;cursor:default;">
			<div id="btn_join_groups" style="float:left;padding-left:15px;">
				<button style="width:160px;height:30px;" onclick="alert('click');">Join missing groups</button>
			</div>
			<div id="btn_preview_group" style="float:left;padding-left:5px;">
				<button style="width:160px;height:30px;" onclick="alert('click');">PREVIEW post</button>
			</div>
		</div>
	</div>
	
	<div id="groups_list" style="margin-top:0px;width:1000px;height:500px;text-align:center;padding-top:240px;">
		Missing CV..
	</div>
	
</div>
