<div id="template__left_nav__recruiter__manage_company" style="display:none;">
	
	<div style="margin-top:20px;">
		<div id="menu__general" style="padding:5px 0px 5px 0px;margin-top:20px;font-size:16px;background-color:#90C590;cursor:pointer;">General</div>
		<div id="menu__media" style="padding:5px 0px 5px 0px;margin-top:5px;font-size:16px;background-color:#90C590;cursor:pointer;">Media</div>
	</div>
	
</div>