<div id="template__left_nav__recruiter__single_job" style="display:none;">
	
	<div id="menu__fs_profile" style="padding:5px 0px 5px 0px;margin-top:12px;margin-left:10px;font-size:20px;background-color:#228B22;cursor:pointer;color:white;">
		5skills
	</div>
	<div style="margin-top:20px;">
		<div id="menu__job_contacts" style="padding:5px 0px 5px 0px;margin-top:20px;font-size:16px;background-color:#E9F3E9;cursor:pointer;color:#90C590;">Contacts</div>
		<div id="menu__job_details" style="padding:5px 0px 5px 0px;margin-top:5px;font-size:16px;background-color:#E9F3E9;cursor:pointer;color:#90C590;">Job details</div>
		<div id="menu__job_publishing" style="padding:5px 0px 5px 0px;margin-top:5px;font-size:16px;background-color:#90C590;cursor:pointer;">
			Publishing
		</div>
		<div id="sub_menu__job_publishing" style="display:none;font-size:16px;">
			<div id="menu__publishing__LIVE" style="display:none;margin-top:5px;font-size:12px;cursor:pointer;background-color:#90C590;color:000;">* LIVE *</div>
			<div id="menu__publishing__new_job_publishing" style="margin-top:5px;font-size:12px;cursor:pointer;background-color:#D3E8CC;color:000;">New job publishing</div>
			<div id="menu__publishing__configure_groups" style="margin-top:5px;font-size:12px;cursor:pointer;color:#90C590;">Configure groups</div>
			<div id="menu__publishing__statistics" style="margin-top:5px;font-size:12px;cursor:pointer;color:#90C590;">Statistics</div>
			<div id="menu__publishing__history" style="margin-top:5px;font-size:12px;cursor:pointer;color:#90C590;">History</div>
		</div>
	</div>
	<div style="margin-top:20px;">
		<div id="menu__job_statistics" style="padding:5px 0px 5px 0px;margin-top:5px;font-size:16px;background-color:#E9F3E9;cursor:pointer;color:#90C590;">Statistics</div>
		<div id="menu__job_activity" style="padding:5px 0px 5px 0px;margin-top:5px;font-size:16px;background-color:#E9F3E9;cursor:pointer;color:#90C590;">Activity</div>
	</div>
	
</div>