<div id="template__notifications_bar" style="width:130px;padding:0px 35px 0px 0px;float:right;text-align:center;display:none;">
	
	<div id="nb_contacts" class="notification_bar_item" alerts="0" style="background-image: url('../images/_notifications_bar/mail.png');padding-right:4px;">
		<div style="margin-left:15px;margin-top:23px;width:20px;font-size:8px;background-color:green;color:#fff;display:none;">
			2
		</div>
	</div>
	<div id="nb_todo" class="notification_bar_item" alerts="0" style="background-image: url('../images/_notifications_bar/checkbox-empty.png');">
		<div style="display:none;margin-left:15px;margin-top:23px;width:20px;font-size:8px;background-color:green;color:#fff;display:none;">
			1
		</div>
	</div>
	<div id="nb_notify" class="notification_bar_item" alerts="0" style="background-image: url('../images/_notifications_bar/connection-error.png');margin-left:5px;background-size:29px 29px;">
		<div style="margin-left:15px;margin-top:23px;width:20px;font-size:8px;background-color:green;color:#fff;display:none;">
			4
		</div>
	</div>
	
</div>