
<div id="template__publishing_job" style="padding:2px 0px 2px 2px;overflow:hidden;display:none;">
	
	<div style="height:40px;">
		<div style="float:left;font-weight:bold;font-size:24px;">Publishing the job...</div>
		<div id="" class="_loading loading-indicator" style="margin-left:5px;width:100px;float:left;display:none;"></div>
	</div>
	
	<div style="weight:1000px;height:40px;">
		<div style="font-size:12px;font-style:italic;padding-top:10px;width:800px;height:40px;">
			5skills is now publishing the job. Wait a few seconds. 
		</div>
	</div>
	
	<div id="job_publishing__wall_post__header" style="margin-top:0px;width:1000px;">
		<div id="groups_header" style="width:1000px;background-color:#90C590;height:30px;border-bottom:2px solid black;">
			<div id="header_group_logo" class="groups_list_header_field" style="width:100px;"></div>
			<div id="header_group_name" class="groups_list_header_field" style="width:350px;text-align:left;">Wall post</div>
			<div id="header_group_member_status" class="groups_list_header_field" style="width:200px;"></div>
		</div>
		<div id="job_publishing__wall_post__body" class="single_group" group_id="" style="background-color:#F4F4F4;text-align:center;">
			<div id="group_logo" class="groups_list_field" style="width:100px;padding-top:0px;"></div>
			<div id="group_name" class="groups_list_field" style="width:350px;text-align:left;">--> Wall post</div>
			<div id="group_member_status" class="groups_list_field" style="text-align:left;width:200px;"></div>
		</div>
	</div>
		
	<div id="job_publishing__groups_list" style="margin-top:25px;width:1000px;">
		<div id="groups_header" style="width:1000px;background-color:#90C590;height:30px;border-bottom:2px solid black;">
			<div id="header_group_logo" class="groups_list_header_field" style="width:100px;"></div>
			<div id="header_group_name" class="groups_list_header_field" style="width:350px;text-align:left;">Group name</div>
			<div id="header_group_discussion" class="groups_list_header_field" style="text-align:left;width:200px;">Discussion</div>
			<div id="header_group_job_discussion" class="groups_list_header_field" style="text-align:left;width:200px;">Job discussion</div>
		</div>
		<div id="job_publishing__groups_body">
			
		</div>
	</div>
		
</div>

<div id="template__job_publishing__single_group" class="single_group" group_id="" style="display:none;background-color:#F4F4F4;text-align:center;">
	<div id="group" class="single_group" group_id="" style="background-color:#F4F4F4;text-align:center;">
		<div id="group_logo" class="groups_list_field" style="width:100px;padding-top:0px;"></div>
		<div id="group_name" class="groups_list_field" style="width:350px;text-align:left;"></div>
		<div id="group_discussion" class="groups_list_field" style="text-align:left;width:200px;"></div>
		<div id="group_job_discussion" class="groups_list_field" style="text-align:left;width:200px;"></div>
	</div>
</div>
