<div id="template__recruiter__company" style="padding:2px 0px 2px 2px;float:left;overflow:hidden;display:none;">
	
	<div style="font-weight:bold;font-size:24px;">General preferences</div>
	
	<div id="header_title" style="display:none;">
		<div id="groups_count" style="font-size:24px;float:left;">?</div>
		<div style="font-size:12px;float:left;padding-left:5px;margin-top:5px;">groups found.</div>
	</div>
	
	<div style="margin-top:7px;">
		
		<div id="core_details" style="background-color:#fff;padding:4px 4px 10px 6px;margin:3px 3px 3px 3px;width:210px;float:left;overflow:hidden;border-left:1px solid #D3E8D3;border-top:1px solid #D3E8D3;border-right:2px solid #D3E8D3;border-bottom:2px solid #D3E8D3;">
			
			<div style="width:200px;padding-left:5px;padding-top:5px;">
				<div style="width:200px;color:gray;font-size:12px;padding-top:5px;">
					<img src="/images/mvp-1/wix-logo.png" style="border:none;width:130px;display:block;"/>
				</div>
			</div>
			
			<div style="padding-top:10px;"></div>
			
			<div style="width:200px;padding-left:5px;padding-top:5px;">
				<div style="font-size:16px;width:200px;">
					Name
				</div>
				<div style="width:200px;color:gray;font-size:12px;padding-top:5px;">
					Wix
				</div>
			</div>
			
			<div style="padding-top:10px;"></div>
			
			<div style="width:200px;padding-left:5px;padding-top:5px;">
				<div style="font-size:16px;width:200px;">
					Industry
				</div>
				<div style="width:200px;color:gray;font-size:12px;padding-top:5px;">
					Internet
				</div>
			</div>
			
			<div style="padding-top:10px;"></div>
			
			<div style="width:200px;padding-left:5px;padding-top:5px;">
				<div style="font-size:16px;width:200px;">
					Founded
				</div>
				<div style="width:200px;color:gray;font-size:12px;padding-top:5px;">
					2006
				</div>
			</div>
			
			<div style="padding-top:10px;"></div>
			
			<div style="width:200px;padding-left:5px;padding-top:5px;">
				<div style="font-size:16px;width:200px;">
					Company size
				</div>
				<div style="width:200px;color:gray;font-size:12px;padding-top:5px;">
					400 employees
				</div>
			</div>
			
		</div>
		
		<div style="margin-left:3px;float:left;width:3px;min-height:5px;"></div>
		
		<div id="core_details" style="background-color:#fff;padding:4px 4px 10px 6px;margin:3px 3px 3px 3px;width:400px;float:left;overflow:hidden;border-left:1px solid #D3E8D3;border-top:1px solid #D3E8D3;border-right:2px solid #D3E8D3;border-bottom:2px solid #D3E8D3;">
			
			<div style="width:380px;padding-left:5px;padding-top:5px;">
				<div style="font-size:16px;width:380px;">
					About
				</div>
				<div style="width:380px;color:gray;font-size:12px;padding-top:5px;">
					Wix.com is an internet start-up, headquartered in Tel Aviv, with offices in San Francisco, New York and Dnepropetrovsk. Founded in 2006 by brothers Avishai and Nadav Abrahami and Giora (Gig) Kaplan, Wix.com set out to revolutionize the web by providing everyone the ability to easily create beautiful websites for free and without the need to code.
					<br/><br/>
					Wix is backed by investors Insight Venture Partners, DAG Ventures, Mangrove Capital Partners, Bessemer Venture Partners and Benchmark Capital. For more information please visit http://www.wix.com/
				</div>
			</div>
			
			<div style="padding-top:10px;"></div>
			
			<div style="width:380px;padding-left:5px;padding-top:5px;">
				<div style="font-size:16px;width:380px;">
					Specialities
				</div>
				<div style="width:380px;color:gray;font-size:12px;padding-top:5px;">
					Free Website Builder, Free Web Design, Online Website Builder, Free Mobile website builder, HTML5
				</div>
			</div>
			
		</div>
		
		<div style="margin-left:3px;float:left;width:3px;min-height:5px;"></div>
		
		<div id="core_details" style="background-color:#fff;padding:4px 4px 10px 6px;margin:3px 3px 3px 3px;width:400px;float:left;overflow:hidden;border-left:1px solid #D3E8D3;border-top:1px solid #D3E8D3;border-right:2px solid #D3E8D3;border-bottom:2px solid #D3E8D3;">
			
			<div style="width:200px;padding-left:5px;padding-top:5px;">
				<div style="font-size:16px;width:200px;">
					Website
				</div>
				<div style="width:200px;padding-top:5px;">
					<a href="http://www.wix.com/" style="color:gray;font-size:12px;" target="_blank">http://www.wix.com/</a>
				</div>
			</div>
			
			<div style="padding-top:10px;"></div>
			
			<div style="width:380px;padding-left:5px;padding-top:5px;">
				<div style="font-size:16px;width:380px;">
					Blog
				</div>
				<div style="width:380px;color:gray;font-size:12px;padding-top:5px;">
					<a href="http://www.wix.com/blog/" style="color:gray;font-size:12px;" target="_blank">http://www.wix.com/blog/</a>
				</div>
			</div>
			
			<div style="padding-top:10px;"></div>
			
			<div style="width:380px;padding-left:5px;padding-top:5px;">
				<div style="font-size:16px;width:380px;">
					LinkedIn
				</div>
				<div style="width:380px;color:gray;font-size:12px;padding-top:5px;">
					<a href="http://www.linkedin.com/company/97250?trk=tyah" style="color:gray;font-size:12px;" target="_blank">http://www.linkedin.com/company/97250?trk=tyah</a>
				</div>
			</div>
			
			<div style="padding-top:10px;"></div>
			
			<div style="width:380px;padding-left:5px;padding-top:5px;">
				<div style="font-size:16px;width:380px;">
					Facebook
				</div>
				<div style="width:380px;color:gray;font-size:12px;padding-top:5px;">
					<a href="https://www.facebook.com/wix" style="color:gray;font-size:12px;" target="_blank">https://www.facebook.com/wix</a>
				</div>
			</div>
			
			<div style="padding-top:10px;"></div>
			
			<div style="width:380px;padding-left:5px;padding-top:5px;">
				<div style="font-size:16px;width:380px;">
					Twitter
				</div>
				<div style="width:380px;color:gray;font-size:12px;padding-top:5px;">
					<a href="https://twitter.com/Wix" style="color:gray;font-size:12px;" target="_blank">https://twitter.com/Wix</a>
				</div>
			</div>
			
		</div>
		
	</div>
		
</div>