<div id="template__recruiter__media" style="padding:2px 0px 2px 2px;float:left;overflow:hidden;display:none;">
	
	<div style="font-weight:bold;font-size:24px;">Media</div>
	
	<div id="header_title" style="display:none;">
		<div id="groups_count" style="font-size:24px;float:left;">?</div>
		<div style="font-size:12px;float:left;padding-left:5px;margin-top:5px;">groups found.</div>
	</div>
	
	<div style="margin-top:7px;">
		
		<div id="core_details" style="background-color:#fff;padding:4px 4px 10px 6px;margin:3px 3px 3px 3px;width:460px;float:left;overflow:hidden;border-left:1px solid #D3E8D3;border-top:1px solid #D3E8D3;border-right:2px solid #D3E8D3;border-bottom:2px solid #D3E8D3;">
			
			<div style="width:450px;padding-left:5px;padding-top:5px;">
				
				<div style="font-size:16px;width:450px;">
					In the office
				</div>
				
				<div style="width:200px;padding-top:5px;float:left;">
					
					<div id="company_image" style="">
						<div style="height:150px;">
							<img src="/images/customers/wix/1.jpg" style="border:1px solid #90C590;width:200px;display:block;"/>
						</div>
						<div style="width:200px;color:gray;font-size:12px;padding-top:5px;">
							Our developers den!
						</div>
					</div>
					
				</div>
				
				<div style="width:200px;padding-top:5px;margin-left:10px;float:left;">
					
					<div id="company_image" style="">
						<div style="border:1px solid #D3E8D3;width:200px;height:150px;display:block;background-color:#F4F4F4;">
							<div style="margin-top:65px;text-align:center;">Add photos</div>
						</div>
					</div>
					
				</div>
				
			</div>
			
		</div>
		
		<div id="core_details" style="background-color:#fff;padding:4px 6px 10px 6px;margin:3px 3px 3px 6px;width:460px;float:left;overflow:hidden;border-left:1px solid #D3E8D3;border-top:1px solid #D3E8D3;border-right:2px solid #D3E8D3;border-bottom:2px solid #D3E8D3;">
			
			<div style="width:450px;padding-left:5px;padding-top:5px;">
				
				<div style="font-size:16px;width:450px;">
					Outside the office
				</div>
				
				<div style="width:200px;padding-top:5px;float:left;">
					
					<div id="company_image" style="">
						<div style="height:150px;">
							<img src="/images/customers/wix/2.jpg" style="border:1px solid #90C590;width:200px;display:block;"/>
						</div>
						<div style="width:200px;color:gray;font-size:12px;padding-top:5px;">
							Tel Aviv waterfront.
						</div>
					</div>
					
				</div>
				
				<div style="width:200px;padding-top:5px;margin-left:10px;float:left;">
					
					<div id="company_image" style="">
						<div style="border:1px solid #D3E8D3;width:200px;height:150px;display:block;background-color:#F4F4F4;">
							<div style="margin-top:65px;text-align:center;">Add photos</div>
						</div>
					</div>
					
				</div>
				
			</div>
			
		</div>
		
	</div>
		
</div>