<div id="template__right_nav__job_seeker__match" style="display:none;">
	
	<div id="match__menu__fs_profile" style="padding:5px 0px 5px 0px;margin-top:12px;margin-right:10px;font-size:20px;background-color:#228B22;cursor:pointer;color:white;">
		5skills
	</div>
	<div style="margin-top:20px;">
		<div id="match__menu__job_seeker_assessments" style="padding:5px 0px 5px 0px;margin-top:20px;font-size:16px;background-color:#E9F3E9;cursor:pointer;color:#90C590;">Assessments</div>
		<div id="match__menu__job_seeker_preferences" style="padding:5px 0px 5px 0px;margin-top:5px;font-size:16px;background-color:#E9F3E9;cursor:pointer;color:#90C590;">Preferences</div>
	</div>
	<div style="margin-top:20px;">
		<div id="match__menu__job_seeker_statistics" style="padding:5px 0px 5px 0px;margin-top:5px;font-size:16px;background-color:#E9F3E9;cursor:pointer;color:#90C590;">Statistics</div>
		<div id="match__menu__job_seeker_activity" style="padding:5px 0px 5px 0px;margin-top:5px;font-size:16px;background-color:#E9F3E9;cursor:pointer;color:#90C590;">Activity</div>
	</div>
	
</div>