<div id="template__results" style="padding:2px 0px 2px 2px;float:left;overflow:hidden;display:none;">
	
	<div style="height:40px;">
		<div style="float:left;font-weight:bold;font-size:24px;">Matching job seekers</div>
		<div id="" class="_loading loading-indicator" style="width:100px;float:right;display:none;"></div>
	</div>
	<div class="fs_results mtop_5"></div>
		
</div>