

<!-- ---------------------------------------------------------------- -->
<!-- 		HEADER 		-->
<!-- ---------------------------------------------------------------- -->

<div id="template__a_recruiter__top_nav__3rd_level" style="padding:0px 0px 0px 15px;float:left;overflow:hidden;display:none;">
	
	<div style="height:40px;display:none;">
		<div style="float:left;font-size:24px;">Publish your job to LinkedIn groups</div>
		<div id="" class="_loading loading-indicator" style="width:100px;float:right;display:none;"></div>
	</div>
	
	<div id="group_posts" style="float:left;">
		
		<div id="header">
			<div style="height:22px;margin-top:15px;">
				<div style="float:left;font-size:16px;">Group posts</div>
			</div>
			<div style="height:2px;width:350px;background-color:gray;">&nbsp;</div>
		</div>
		
		<div id="body" style="height:40px;">
			<div id="total_groups" style="width:120px;margin-top:5px;float:left;">
				<div id="icon" style="width:40px;margin-top:17px;float:left;">
					<img src="/images/icons/send6.png" style="height:30px;"/>
				</div>
				<div id="count" style="float:left;">
					<span id="total_linkedin_groups" style="font-size:40px;color:#6D6E71;font-weight:bold;">0</span>
				</div>
			</div>
			<div id="posts_made" style="width:120px;margin-top:5px;float:left;">
				<div id="icon" style="width:40px;margin-top:17px;float:left;">
					<img src="/images/icons/send6.png" style="height:30px;"/>
				</div>
				<div id="count" style="float:left;font-size:40px;color:#6D6E71;font-weight:bold;">
					0
				</div>
			</div>
			<div id="posts_pending" style="width:120px;margin-top:5px;float:left;">
				<div id="icon" style="padding-left:10px;width:30px;margin-top:19px;float:left;">
					<img src="/images/icons/time2.png" style="height:20px;"/>
				</div>
				<div id="count" style="float:left;font-size:40px;color:#6D6E71;">
					0
				</div>
			</div>
		</div>
	</div>
	
	<div style="width:100px;float:left;">&nbsp;</div>
	
	<div id="job_stats" style="float:left;margin-top:15px;">
		
		<div id="body" style="height:40px;">
			<div style="margin-top:3px;width:140px;font-size:12px;text-align:left;color:gray;">
				<span id="selected_linkedin_groups" style="font-size:24px;font-weight:bold;">0</span> groups selected
			</div>
			<div style="margin-top:3px;width:140px;font-size:12px;font-style:italic;text-align:left;color:gray;">
				<button id="btn_publish" style="font-size:16px;width:140px;height:34px;background-color:#186118;color:#fff;border:1px solid #90C590;">Publish Job!</button>
			</div>
		</div>
		
	</div>
	
</div>



<!-- ---------------------------------------------------------------- -->
<!-- 		GROUPS		 -->
<!-- ---------------------------------------------------------------- -->

<div id="template__a_recruiter__publish_to_groups" style="padding:3px 0px 2px 0px;float:left;overflow:hidden;display:none;">
	
	
		
</div>



<!-- ---------------------------------------------------------------- -->
<!-- 		SINGLE GROUP		 -->
<!-- ---------------------------------------------------------------- -->


<div id="template__a_recruiter__group" style="padding:3px 0px 3px 10px;float:left;overflow:hidden;display:none;">
	
	<div class="row_1" style="">
		<div style="padding:26px 0px 0px 15px;width:40px;float:left;">
			<input type="checkbox" name="group_id" value="123">
		</div>
		<div id="channel_logo" style="border:0px solid gray;margin:9px 0px 5px 0px;height:52px;padding:0px 0px 0px 0px;width:102px;float:left;">
			&nbsp;
		</div>
		<div id="channel_name" style="padding:27px 0px 0px 10px;width:275px;float:left;">
			&nbsp;
		</div>
		<div style="padding:17px 5px 0px 0px;width:150px;float:left;">
			<div id="publish_status" style="float:right;padding-left:3px;padding-top:4px;"><img src="" style="height:35px;display:none;"/></div>
			<div style="float:right;padding-left:3px;padding-top:4px;"><img src="/images/icons/group35.png" style="height:35px;"/></div>
			<div id="channel_members_count" style="float:right;font-size:24px;padding-top:5px;">&nbsp;</div>
		</div>
	</div>
	
	<div class="separator" style="height:10px;display:none;">&nbsp;</div>
		
</div>



<!-- ---------------------------------------------------------------- -->
<!-- 		FOOTER 		-->
<!-- ---------------------------------------------------------------- -->

<div id="template__a_recruiter__footer__3rd_level" style="padding:0px 10px 0px 10px;float:right;overflow:hidden;display:none;">
	
	<div style="margin-top:3px;width:140px;font-size:12px;float:left;text-align:left;color:gray;">
		<span id="selected_linkedin_groups" style="font-size:24px;font-weight:bold;">0</span> groups selected
	</div>
	<div style="margin-top:3px;width:140px;font-size:12px;float:left;font-style:italic;text-align:left;color:gray;">
		<button id="btn_publish" style="font-size:16px;width:140px;height:34px;background-color:#186118;color:#fff;border:1px solid #90C590;">Publish Job!</button>
	</div>
	
</div>