<div id="template__a_recruiter__header__1_line" style="display:none;">
	
	<%= render :partial => '/fs_job/a_recruiter_site_header' %>
	
</div>


<div id="template__a_recruiter__header__2_lines" style="display:none;">
	
	<%= render :partial => '/fs_job/a_recruiter_site_header' %>
	
	<div id="job" job_id="" is_published="false" style="padding:5px 0px 5px 0px;height:40px;background-color:#64AE64;border:none;">
		<div id="img_logo" style="float:left;width:119px;margin-top:8px;text-align:center;font-size:20px;">
			JOB
		</div>
		
		<div style="width:1px;height:34px;margin-top:3px;background-color:#228B22;float:left;">&nbsp;</div>
		
		<div style="width:600px;margin-top:8px;padding-left:20px;float:left;font-size:20px;font-weight:bold;font-style:italic;">
			.NET Developer
		</div>
		<div style="width:200px;float:left;font-style:italic;text-align:left;color:#BEE3C2;">
			<div id="body" style="height:20px;">
				<div id="single_stat" style="width:65px;float:left;">
					<div id="icon" style="width:22px;margin-top:21px;float:left;">
						<img src="/images/icons/view5.png" style="height:16px;"/>
					</div>
					<div id="total_unique_views" style="float:left;font-size:35px;color:#6D6E71;">
						0
					</div>
				</div>
				<div id="single_stat" style="width:65px;margin-top:0px;float:left;">
					<div id="icon" style="width:21px;margin-top:20px;float:left;">
						<img src="/images/icons/interface9.png" style="height:14px;"/>
					</div>
					<div id="total_unique_applications" style="float:left;font-size:35px;color:#6D6E71;">
						0
					</div>
				</div>
				
				<div id="single_stat" style="display:none;width:30px;margin-top:5px;float:left;">&nbsp;</div>
				
				<div id="single_stat" style="width:65px;margin-top:20px;float:left;">
					<div id="total_conversion_rate" style="float:left;font-size:15px;color:#6D6E71;font-weight:bold;">
						0
					</div>
					<div id="count" style="float:left;font-size:10px;color:#000;margin-left:2px;margin-top:5px;">
						%
					</div>
				</div>
			</div>				
		</div>	
		
		<div style="width:1px;height:34px;margin-top:3px;background-color:#228B22;float:left;">&nbsp;</div>
		
		<div style="margin-top:12px;margin-left:15px;width:140px;font-size:14px;float:left;font-style:italic;text-align:left;color:#BEE3C2;">
			Not published
		</div>
		
		<% if 1 == 2 %>
		
			<div id="job_published_status" style="margin-top:3px;width:100px;float:left;text-align:center;">
				<div style="font-size:18px;color:#fff;">Published</div>
				<div style="margin-top:-2px;font-size:11px;font-style:italic;color:#D3E8D3;">2 days ago</div>
			</div>
			
			<div id="job_update_status" style="background-color:yellow;display:none;text-align:center;padding-left:30px;padding-top:3px;margin-top:10px;margin-left:25px;height:20px;width:100px;font-size:12px;float:left;font-weight:bold;text-align:left;color:#000;"></div>
		
		<% end %>
		
	</div>
	
</div>