<div id="template__a_recruiter__left_nav" style="display:none;">
	
	<div id="menu__fs_profile" style="padding:5px 0px 5px 0px;margin-top:12px;margin-left:0px;font-size:20px;background-color:#228B22;cursor:pointer;color:white;">
		Publish
	</div>
	
</div>