<div id='d_bookmark_page' style='position:relative;direction:ltr;'>
	<b>Bookmark</b><br/>
	<span style='font-size:9px;'>Please insert a comma-delimited list of tags to categorise this page</span>
    <textarea style='width:90%;height:30px;'>Project Manager, Tel Aviv, Internet</textarea>
</div>

<div id='d_job_selection' style='position:relative;direction:ltr;text-align:left;'>
	<b>Select jobs</b><br/>
	<span style='font-size:9px;'>Please select one or more jobs to save in your flyc!</span>
</div>
