<div id='d_clip_container' style='position:relative;direction:ltr;'>
	<b>My CV</b><br/>
	<span style='font-size:9px;'>Use the following link to 'copy / paste' your CV to the 'Upload pop-up' window</span>
    <textarea style='width:90%;height:30px;'>http://localhost:3002/uploads/Letter.txt</textarea>
</div>