<li id="template_top_5_skill" class="single_top_skill" style="display:none;">
	<div class="single_top_skill_container_left"></div>
	<div class="single_top_skill_name">
			?
	</div>
	<div class="single_top_skill_container_right"></div>
</li>

<li id="template_additional_skill" class="single_additional_skill" style="display:none;">
	<div class="additional_skill_container_left"></div>
	<div class="single_additional_skill_name">Project management</div>
	<div class="additional_skill_container_right"></div>
</li>